<v-container>
  <v-row class="justify-center mt-6">
    <v-col cols="6">
      <v-data-table :headers="headers" :items="listaNumeradores" sort-by="descripcion"
        :footer-props="{'items-per-page-text':'numeradores por página'}" class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Numeradores</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-form v-model="valid">
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field :rules="formTitle.toLowerCase() === 'agregar numerador' ? reglasID : [] "
                            :disabled="formTitle.toLowerCase() === 'agregar numerador' ? false : true"
                            v-model="editedItem.id_numerador" label="Id Numerador"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.descripcion" label="Descripción" :rules="reglasDescripcion">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.valor" label="Valor" :rules="reglasDescripcion">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.aux1" label="Aux 1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.aux2" label="Aux 2">
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-form>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="primary--text" @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn :disabled="!valid" color="primary" text--white @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <div>
            <v-icon small class="mr-2" color="warning" @click="editItem(item)">
              mdi-pencil
            </v-icon>
          </div>
        </template>
      </v-data-table>
      <v-snackbar class="mb-8" v-model="snackbarOn" :color="colorSnackbar">
        {{ opExitosa ? 'Operación realizada con éxito' : 'Se produjo un error' }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="cerrarSnackbar">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-col>
  </v-row>
</v-container>