<div>
  <v-data-table :headers="cabecera" :items="datos" class="elevation-1 " :items-per-page="itemsPorPagina"
    :footer-props="{'items-per-page-text':'teléfonos por página'}">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Telefonos</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog persistent v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
            <v-card-text>
              <v-form v-model="formValid" ref="form" lazy-validation>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-text-field v-model="modeloEditar.telefono" label="Telefono" :rules="reglasTelefono">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-select :rules="reglas" :items="tiposTelefono" label="Tipo Telefono" outlined
                        item-text="descripcion" item-value="id_tipo_telefono" v-model="modeloEditar.tipo_telefono">
                      </v-select>
                    </v-col>
                    <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="d-flex justify-content-center">
                      <v-switch inset label="Teléfono Efectivo" v-model="switchDrop"></v-switch>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogGuardar()">
                Cancelar
              </v-btn>
              <v-btn :loading="btnLoading" :disabled="!validarAgregar" color="primary" @click="guardar()">
                Confirmar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog persistent v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title></v-card-title>
            <h6>¿Seguro que desea eliminar el telefono {{TelefonoEliminado.telefono}}?</h6>
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogEliminar()">Cancelar</v-btn>
              <v-btn :loading="btnLoading" color="primary" @click="eliminarTelefono()">Eliminar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)" color="warning">
        mdi-pencil
      </v-icon>
      <v-icon small @click="dialogEliminar(item)" color="error">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:item.tipo_telefono="{ item }">
      {{item.tipo_telefono.descripcion}}
    </template>
    <template v-slot:item.efectivo="{ item }">
      <div v-if="item.efectivo==1">
        <v-icon color="success">
          mdi-check
        </v-icon>
      </div>
    </template>
    <template v-slot:no-data>
      <h6>No hay datos</h6>
    </template>
  </v-data-table>

  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>

</div>