<v-card>
  <v-toolbar color="primary" dark>Carga de pago</v-toolbar>
  <v-card-text>
    <v-container class="mt-3">
      <v-row>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-text-field v-model="nro_cliente" label="Nro Cliente" readonly></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-text-field v-model="deuda_historica" label="Deuda histórica" readonly></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-text-field v-model="comprobante" label="Comprobante*" :disabled="esPromesaDePago"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-select :items="tiposPago" item-text="descripcion" item-value="id_tipo_pago" label="Seleccione"
            v-model="tipoPago" solo background-color="primary" class="combo"></v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-menu v-model="dataPickerPago" :close-on-content-click="false" :nudge-right="40"
            transition="scale-transition" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="fecha_pago" label="Fecha de pago" prepend-icon="mdi-calendar" readonly
                v-bind="attrs" v-on="on"></v-text-field>
            </template>
            <v-date-picker v-model="fecha_pago" @input="dataPickerPago = false"></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-menu v-model="dataPickerAplicacion" :close-on-content-click="false" :nudge-right="40"
            transition="scale-transition" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="fecha_aplicacion" label="Fecha de aplicación" prepend-icon="mdi-calendar" readonly
                v-bind="attrs" v-on="on" :disabled="esPromesaDePago"></v-text-field>
            </template>
            <v-date-picker v-model="fecha_aplicacion" @input="dataPickerAplicacion = false"></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-text-field v-model="importe" label="Importe*"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
          <v-select :items="entidadesRecaudadoras" item-text="descripcion" item-value="id_banco" label="Seleccione"
            v-model="entidadRecaudadora" solo background-color="primary" class="combo"></v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-textarea class="mx-2" outlined label="Comentario" v-model="comentario"></v-textarea>
        </v-col>
      </v-row>
    </v-container>
  </v-card-text>
  <v-card-actions class="d-flex justify-content-center">
    <v-btn textcolor="primary" class="primary--text mb-4" @click="cerrarDialog(0)">
      Cancelar
    </v-btn>
    <v-btn :loading="btnLoading" color="primary" @click="cargarPago()" class="mb-4" :disabled="habilitarCarga">
      Guardar
    </v-btn>
  </v-card-actions>
</v-card>