<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :loading="loadingTable" :headers="headers" :items="empresasParamOk" class="elevation-1" :search="search">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Codigos Asignados</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field class="mx-4" v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
              hide-details>
            </v-text-field>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
                <v-form v-model="isFormValid" ref="form" lazy-validation>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                          <v-select :rules="formTitle === 'Asignar Nuevo Código' ? reglasEmpresa : [] "
                            :disabled="formTitle === 'Asignar Nuevo Código' ? false : true"
                            v-model="editedItem.id_empresa" label="Id Empresa" :items="empresas" item-text="descripcion"
                            item-value="idEmp"></v-select>
                        </v-col>

                        <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                          <v-select :rules="formTitle === 'Asignar Nuevo Código' ? reglasTabla : [] "
                            :disabled="formTitle === 'Asignar Nuevo Código' ? false : true"
                            v-model="editedItem.id_tabla" label="Id Tabla" :items="codigosTablaOk"
                            item-text="descripcion" item-value="id_tabla" v-on:change="actualizaSelectCodigos()">
                          </v-select>
                        </v-col>

                        <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                          <v-select :rules="formTitle === 'Asignar Nuevo Código' ? reglasIdOpcion : [] "
                            :disabled="formTitle === 'Asignar Nuevo Código' ? false : true"
                            v-model="editedItem.id_opcion" label="Id Código" :items="codigos" item-text="descripcion"
                            item-value="id"></v-select>
                        </v-col>

                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                          <v-switch inset @click="switchClickVisible()" v-model="switch1" label="Visible"></v-switch>
                        </v-col>

                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                          <v-switch inset @click="switchClickBloqueante()" v-model="switch2" label="Bloqueante"></v-switch>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary--text" @click="close">
                      Cancelar
                    </v-btn>
                    <v-btn :disabled="!isFormValid" color="primary" text--white @click="save">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <div>
            <v-icon small class="mr-2" color="warning" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small class="mr-2" color="error" @click="abrirDialogDeleteItem(item)">
              mdi-delete
            </v-icon>
          </div>
        </template>
        <template v-slot:item.visible="{ item }">
          <div class="text-success" v-if="item.visible==1">
            <strong>SI</strong>
          </div>
          <div class="text-danger" v-else>
            <strong>NO</strong>
          </div>
        </template>
        <template v-slot:item.bloqueante="{ item }">
          <div class="text-success" v-if="item.bloqueante==1">
            <strong>SI</strong>
          </div>
          <div class="text-danger" v-else>
            <strong>NO</strong>
          </div>
        </template>
      </v-data-table>
      <v-snackbar class="mb-8" v-model="muestraMensaje" :color="colorMensaje">
        {{ mensaje }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-col>
  </v-row>
  
  <v-dialog v-model="dialogDeleteItem" transition="dialog-bottom-transition" max-width="600">
    <template>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-icon large color="white" @click="editItem(item)">
            warning_amber
          </v-icon>          
        </v-toolbar>
        <v-card-text class="mt-3">
          <div class="subtitle-1">¿Está seguro que desea desasociar el {{itemDeleted.codTabla}}
            {{itemDeleted.codigoDesc}} de la empresa {{itemDeleted.empresa}}?</div>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn textcolor="primary" class="primary--text" @click="dialogDeleteItem = false">Cancelar</v-btn>
          <v-btn color="primary" @click="desasociarCodigo()">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>

</v-container>