<section>
  <v-container class="mt-5">
    <v-row class="mt-1">

      <v-col cols="12" sm="12" md="6" lg="6" xl="6">
        <v-row>
          <v-col cols="12" sm="12" md="4" lg="4" xl="4">
            <v-text-field class="colores text-field" :label="empresa.lbl_nro_cliente1_deu" readonly
              :value="deudor.nro_cliente1 || ' '"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" lg="4" xl="4">
            <v-text-field class="colores text-field" :label="empresa.lbl_nro_cliente2_deu" readonly
              :value="deudor.nro_cliente2 || ' '"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" lg="4" xl="4">
            <v-text-field class="colores text-field" label="Nro de Cliente 3" readonly
              :value="deudor.nro_cliente3 || ' '">
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field class="colores text-field" :label="empresa.lbl_fecha_alta_deu" readonly
              :value="deudor.fecha_alta || ' '"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field class="colores text-field" :label="empresa.lbl_fecha_mora_deu" readonly
              :value="deudor.fecha_mora || ' '"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field class="colores text-field" :label="empresa.lbl_fecha_baja_deu" readonly
              :value="deudor.fecha_baja || ' '"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="3" lg="3" xl="3">
            <v-text-field class="colores text-field" :label="empresa.lbl_fecha_recepcion_deu" readonly
              :value="deudor.fecha_recepcion || ' '"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="3" lg="3" xl="3">
            <v-text-field class="colores text-field" :label="empresa.lbl_fecha_cierra_deu" readonly
              :value="deudor.fecha_cierra || ' '"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="12" md="6" lg="6" xl="6">
            <v-text-field class="colores text-field" :label="empresa.lbl_id_politica_deu" readonly
              :value="politica.descripcion || ' '">
            </v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="3" lg="3" xl="3">
            <v-text-field class="colores text-field" :label="empresa.lbl_remesa_deu" readonly
              :value="deudor.remesa || ' '">
            </v-text-field>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" sm="12" md="2" lg="2" xl="2">
        <v-row>
          <v-col>
            <v-text-field class="colores" :label="empresa.lbl_deuda_historica_deu" readonly
              :value="`$ ${deudor.deuda_historica}`">
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field class="colores" label="Deuda Actualizada" readonly :value="`$ ${deudor.deuda_actualizada}`">
            </v-text-field>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" sm="12" md="4" lg="4" xl="4">
        <v-row>
          <v-col>
            <v-row>
              <p>Código de situación</p>
            </v-row>
            <v-row>
              <v-select v-if="this.usuario.rol>1" :items="codigosSituacionLocal" item-text="descripcion"
                item-value="id_situacion" label="Seleccione" v-model="codigoSituacion" solo
                :background-color="colorSelectSituacion" class="combo">
              </v-select>
              <v-select v-else :disabled="disabledSituacion" :items="codigosSituacionLocal" item-text="descripcion"
                item-value="id_situacion" label="Seleccione" v-model="codigoSituacion" solo
                :background-color="colorSelectSituacion" class="combo">
              </v-select>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-row>
              <p> Código de gestión </p>
            </v-row>
            <v-row>
              <v-select v-if="this.usuario.rol>1" :items="codigosGestionLocal" item-text="descripcion"
                item-value="id_gestion" label="Seleccione" v-model="codigoGestion" solo
                :background-color="colorSelectGestion" class="combo">
              </v-select>
              <v-select v-else :disabled="disabledGestion" :items="codigosGestionLocal" item-text="descripcion"
                item-value="id_gestion" label="Seleccione" v-model="codigoGestion" solo
                :background-color="colorSelectGestion" class="combo">
              </v-select>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-row>
              <p>Código de motivo no pago</p>
            </v-row>
            <v-row>
              <v-select v-if="this.usuario.rol>1" :items="motivosNoPagoLocal" item-text="descripcion" item-value="id_motivo"
                label="Seleccione" v-model="motivoNoPago" solo :background-color="colorSelectMotivo" class="combo">
              </v-select>
              <v-select v-else :disabled="disabledMotivo" :items="motivosNoPagoLocal" item-text="descripcion"
                item-value="id_motivo" label="Seleccione" v-model="motivoNoPago" solo
                :background-color="colorSelectMotivo" class="combo">
              </v-select>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="d-flex justify-content-between">
        <v-btn fab v-if="comentarioOrder == 1" small color="primary" class="mr-5" @click="ordenarComentario()">
          <v-icon medium color="white">
            arrow_upward
          </v-icon>
        </v-btn>
        <v-btn fab v-else small color="primary" class="mr-5" @click="ordenarComentario()">
          <v-icon medium color="white">
            arrow_downward
          </v-icon>
        </v-btn>
        <v-dialog v-model="dialogComentario" persistent max-width="70%" max-height="50%">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" class="mr-5" v-bind="attrs" v-on="on">
              NUEVO COMENTARIO
            </v-btn>
          </template>
          <v-card>
            <v-toolbar color="primary" dark>Nuevo comentario</v-toolbar>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12" lg="12">
                      <v-textarea :rules="reglas" outlined label="Comentario" v-model="nuevoComentario">
                      </v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions class="d-flex justify-content-center">
                <v-btn textcolor="primary" class="primary--text mb-4" @click="cerrarDialogComentario()">
                  Cancelar
                </v-btn>
                <v-btn :loading="btnLoading" color="primary" @click="agregarComentario()" class="mb-4"
                  :disabled="hayComentario">
                  Agregar
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-textarea outlined label="Comentarios" readonly :value=listarComentarios height="200"></v-textarea>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="4" lg="4" xl="4">
        <TablaTelefonos :cabecera="cabeceraTelefonos" :datos="telefonos" />
      </v-col>
      <v-col cols="12" sm="12" md="4" lg="4" xl="4">
        <TablaCorreos :cabecera="cabeceraCorreos" :datos="correos" />
      </v-col>
      <v-col cols="12" sm="12" md="4" lg="4" xl="4">
        <TablaRedes :cabecera="cabeceraRedes" :datos="redes" />
      </v-col>
    </v-row>
    <v-row class="my-8 d-flex justify-content-center">
      <v-btn textcolor="primary" class="mr-4 primary--text">
        CANCELAR
      </v-btn>
      <v-btn color="primary" class="mr-5" @click="dialogGuardar=true" :disabled="codigoHabilitado">
        GUARDAR CAMBIOS
      </v-btn>
    </v-row>
    <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
      {{ mensaje }}
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
    <v-dialog persistent v-model="dialogGuardar" max-width="500px">
      <v-card>
        <v-card-title></v-card-title>
        <h6>¿Seguro que desea guardar los cambios?</h6>
        </v-card-title>
        <v-card-actions class="d-flex justify-content-center">
          <v-spacer></v-spacer>
          <v-btn textcolor="primary" class="mr-4 primary--text" @click="dialogGuardar=false">Cancelar</v-btn>
          <v-btn :loading="btnLoading" color="primary" @click="guardarCambios()">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</section>