.crm-gestion {
    height: 100%;
    min-height: 100%;
    position: relative;
}
.text-field{
    font-size: 14px;
}

.crm-gestion p{
    margin-bottom: 0em;
    margin-top: 0em;
}

/* Color al texto por defecto de los combos */
.combo.theme--light.v-select .v-label{
    color: white;
}

/* Color a la flecha de los combos */
.combo.theme--light.v-select .mdi:before, .mdi-set {
    color: white;
}

/* Color al item seleccionado de los combos */

.combo.theme--light.v-select .v-select__selection--comma {
    color: white;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1600px;
}

.theme--light.v-label{
    color: #48a4ac ;
}

.v-application .primary--text{
    color: #48a4ac !important;
    caret-color: #48a4ac !important
}

