<div>
  <v-data-table :headers="cabecera" :items="vinculos" class="elevation-1 " :items-per-page="itemsPorPagina"
    :footer-props="{'items-per-page-text':'Vinculos por página'}">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Vinculos</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog persistent v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col sm="6" md="12">
                    <v-text-field v-model="modeloEditar.nombre" label="Nombre" :rules="reglas">
                    </v-text-field>
                  </v-col>
                  <v-col sm="6" md="6">
                    <v-text-field v-model="modeloEditar.telefono" label="Telefono" :rules="reglasTelefono">
                    </v-text-field>
                  </v-col>
                  <v-col sm="6" md="6">
                    <v-text-field v-model="modeloEditar.correo" label="Correo Electrónico" :rules="reglasCorreo">
                    </v-text-field>
                  </v-col>
                  <v-col sm="6" md="12">
                    <v-select :rules="reglas" :items="tiposVinculo" label="Tipo Vinculo" outlined item-text="descripcion"
                      item-value="id_tipo_parentesco" v-model="modeloEditar.id_tipo_parentesco"></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogGuardar()">
                Cancelar
              </v-btn>
              <v-btn :loading="btnLoading" :disabled="!validarAgregar" color="primary" @click="guardar()">
                Confirmar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog persistent v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title></v-card-title>
            <h6>¿Seguro que desea eliminar el vinculo {{VinculoEliminado.nombre}}?</h6>
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogEliminar()">Cancelar</v-btn>
              <v-btn :loading="btnLoading" color="primary" @click="eliminarVinculo()">Eliminar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)" color="warning">
        mdi-pencil
      </v-icon>
      <v-icon small @click="dialogEliminar(item)" color="error">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:item.id_tipo_parentesco="{ item }">
      {{mostrarDescripcionTipoVinculo(item.id_tipo_parentesco).descripcion}}
    </template>
    <template v-slot:no-data>
      <h6>No hay datos</h6>
    </template>
  </v-data-table>

  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>

</div>