<v-card>
  <v-toolbar color="primary" dark>Carga de Convenio</v-toolbar>
  <v-card-text>
    <v-container class="mt-3">
      <v-row>
        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
          <v-menu v-model="dataPickerConvenio" :close-on-content-click="false" :nudge-right="40"
            transition="scale-transition" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field class="font-weight-bold" v-model="fecha_convenio" label="Fecha convenio"
                prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
            </template>
            <v-date-picker v-model="fecha_convenio" @input="dataPickerConvenio = false"></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
          <v-row class="d-flex justify-content-center">
            <v-col cols="3" class="d-flex justify-content-center">
              <v-btn fab small color="primary" @click="restarCuotas()" :disabled="habilitarCuotas">
                <v-icon dark>mdi-minus</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="5" class="d-flex justify-content-center">
              <v-text-field class="font-weight-bold centered-input" v-model="cantCuotas" label="Cuotas" solo readonly>
              </v-text-field>
            </v-col>
            <v-col cols="3" class="d-flex justify-content-center">
              <v-btn fab small color="primary" @click="sumarCuotas()" :disabled="habilitarCuotas">
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
          <v-text-field class="font-weight-bold" :value="deudaActualizada.monto" label="Deuda Historica" disabled>
          </v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
          <v-text-field class="font-weight-bold" :value="deudaActualizada.monto+deudaActualizada.interes"
            label="Deuda Actualizada" disabled></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
          <v-select :items="tiposConveniosPorEmpresa" item-text="descripcion" item-value="id_tipo_convenio"
            label="Tipo de convenio" v-model="idConvenioSeleccionado" solo background-color="primary"
            @change="ChangeConvenioSeleccionado()" class="combo"></v-select>
        </v-col>
      </v-row>
      <v-row class="d-flex justify-content-center">
        <v-col cols="12" sm="12" md="2" lg="2" xl="2" class="d-flex justify-content-center">
          <v-text-field type="number" class="font-weight-bold" v-model="montoTotalConvenio"
            label="Monto a financiar" :disabled="habilitaConvenioLibre"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="2" lg="2" xl="2" class="d-flex justify-content-center">
          <v-text-field class="font-weight-bold" v-model="montoTotalConvenio"
            label="Monto del convenio" disabled></v-text-field>
        </v-col>
      </v-row>

      <!-- EMPIEZAN EL DETALLE DE LAS CUOTAS -->

      <v-row>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=1">
          <v-row>
            <v-col cols="3" class="d-flex justify-content-center">
              <v-text-field class="font-weight-bold centered-input" label="1" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha1" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto1" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto1" @input="dataPickerFecha1 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota1" label="Monto cuota 1" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=2">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="2" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha2" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto2" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto2" @input="dataPickerFecha2 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota2" label="Monto cuota 2" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=3">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="3" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha3" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto3" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto3" @input="dataPickerFecha3 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota3" label="Monto cuota 3" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=4">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="4" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha4" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto4" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto4" @input="dataPickerFecha4 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota4" label="Monto cuota 4" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=5">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="5" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha5" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto5" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto5" @input="dataPickerFecha5 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota5" label="Monto cuota 5" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=6">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="6" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha6" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto6" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto6" @input="dataPickerFecha6 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota6" label="Monto cuota 6" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=7">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="7" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha7" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto7" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto7" @input="dataPickerFecha7 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota7" label="Monto cuota 7" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=8">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="8" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha8" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto8" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto8" @input="dataPickerFecha8 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota8" label="Monto cuota 8" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=9">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="9" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha9" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto9" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto9" @input="dataPickerFecha9 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota9" label="Monto cuota 9" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=10">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="10" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha10" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto10" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto10" @input="dataPickerFecha10 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota10" label="Monto cuota 10" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=11">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="11" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha11" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto11" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto11" @input="dataPickerFecha11 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota11" label="Monto cuota 11" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="" v-if="cantCuotas>=12">
          <v-row>
            <v-col cols="3">
              <v-text-field class="font-weight-bold centered-input" label="12" solo disabled></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-menu v-model="dataPickerFecha12" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field v-model="fecha_vto12" label="Fecha Vto." prepend-icon="mdi-calendar" :disabled="habilitaConvenioLibre"
                    v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="fecha_vto12" @input="dataPickerFecha12 = false" :disabled="habilitaConvenioLibre"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="4">
              <v-text-field type="number" class="font-weight-bold" v-model="monto_cuota12" label="Monto cuota 12" :disabled="habilitaConvenioLibre">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row class="mt-3 d-flex justify-content-center" v-if="habilitarGenerarConvenio">
        <v-alert type="error" dense outlined>
          Todos los campos son obligatorios, los campos fecha deben ser posteriores al anterior, los campos monto deben ser mayor a 0 y la sumatoria de todas las cuotas debe ser igual al monto a financiar.
        </v-alert>
      </v-row>
    </v-container>
  </v-card-text>

  <v-card-actions class="d-flex justify-content-center">
    <v-btn textcolor="primary" class="primary--text mb-4" @click="cerrarDialog(0)">
      Cancelar
    </v-btn>
    <v-btn :loading="btnLoading" color="primary" @click="cargarConvenio()" class="mb-4" :disabled="habilitarGenerarConvenio">
      Guardar
    </v-btn>
  </v-card-actions>

</v-card>