<section class="mx-auto mt-16">
  <div v-if="cargando">
    <v-dialog v-model="cargando" hide-overlay persistent width="300">
      <v-card color="primary" dark class="pt-2">
        <v-card-text class="subtitle-2">
          Cargando ...
          <v-progress-linear indeterminate color="white" class="my-2"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
  <div v-else>
    <v-container>
      <v-row class="d-flex justify-content-center">
        <v-card width="80%">
          <v-toolbar class="d-flex justify-content-center h2" color="primary" dark>Mi Perfil</v-toolbar>
          <v-card-text>
            <v-row class="d-flex justify-content-center mt-5">
              <v-col cols="12" xs="12" sm="12" md="1" lg="1" xl="1">
                <v-text-field class="text-field" label="Id Usuario" readonly :value="usuarioLocal.id_usuario || ' '">
                </v-text-field>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="1" lg="1" xl="1">
                <v-text-field class="text-field" label="Legajo" readonly :value="usuarioLocal.legajo_neotel || ' '">
                </v-text-field>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                <v-text-field class="text-field" label="Nombre Completo" readonly :value="usuarioLocal.nombre || ' '">
                </v-text-field>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
                <v-text-field class="text-field" label="Rol" readonly :value="nombreRol || ' '">
                </v-text-field>
              </v-col>
            </v-row>
            <v-row class="d-flex justify-content-center">
              <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
                <v-text-field class="text-field" label="Nro de Cuil" readonly :value="usuarioLocal.cuil || ' '">
                </v-text-field>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
                <v-text-field class="text-field" label="Nro Documento" readonly :value="usuarioLocal.dni || ' '">
                </v-text-field>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                <v-text-field class="text-field" label="Correo Electrónico" readonly
                  :value="usuarioLocal.correo || ' '">
                </v-text-field>
              </v-col>
            </v-row>
            <v-row class="mb-8 mt-8 d-flex justify-content-center">
              <v-dialog v-model="dialog" persistent transition="dialog-top-transition" max-width="600">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn textcolor="primary" class="mr-4 primary--text" @click="PantallaPrincipal()">
                    Volver
                  </v-btn>
                  <v-btn color="primary" class="mr-5" @click="" v-bind="attrs" v-on="on">
                    Cambiar contraseña
                  </v-btn>
                </template>
                <template v-slot:default="dialog">
                  <v-card>
                    <v-toolbar color="primary" dark>Cambio de contraseña</v-toolbar>
                    <v-card-text class="mt-5" autocomplete="off">
                      <v-text-field maxlength="12" counter autocomplete="off" @click:append="show1 = !show1"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'"
                        class="text-field" label="Contraseña actual" v-model="passwordActual">
                      </v-text-field>
                      <v-text-field maxlength="12" counter @click:append="show2 = !show2"
                        :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :type="show2 ? 'text' : 'password'"
                        class="text-field" label="Nueva contraseña" v-model="passwordNueva" :rules="reglas">
                      </v-text-field>
                      <v-text-field maxlength="12" counter @click:append="show3 = !show3"
                        :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'" :type="show3 ? 'text' : 'password'"
                        class="text-field" label="Confirme nueva contraseña" v-model="passwordNuevaConfirm"
                        :rules="reglas">
                      </v-text-field>
                      <div class="mt-5" v-if="contraseñaErronea==true">
                        <v-alert dense outlined type="error">Las contraseñas no coinciden.</v-alert>
                      </div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                      <v-btn textcolor="primary" class="primary--text" @click="cerrarDialog()">Cerrar</v-btn>
                      <v-btn color="primary" @click="cambiarContraseña()" :disabled="!validarAgregar">Aceptar</v-btn>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </v-container>
    <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
      {{ mensaje }}
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</section>