<section class="mt-16 d-flex justify-content-center">
  <v-container>
    <v-row class="d-flex justify-content-center">
      <v-col cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_nro_cliente1_deu" readonly
          :value="deudor.nro_cliente1 || ' '"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_nro_cliente2_deu" readonly
          :value="deudor.nro_cliente2 || ' '"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" label="Nro de Cliente 3" readonly :value="deudor.nro_cliente3 || ' '">
        </v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_tipo_doc_deu" readonly
          :value="deudor.tipo_doc || '-'"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_nro_doc_deu" readonly
          :value="deudor.nro_doc || '-'"></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="8" lg="8" xl="8">
        <TablaDirecciones></TablaDirecciones>
      </v-col>
      <v-col cols="12" sm="12" md="4" lg="4" xl="4">
        <TablaVinculos></TablaVinculos>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-if="hayAux1" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux1_deu" readonly :value="deudor.aux1 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux2" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux2_deu" readonly :value="deudor.aux2 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux3" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux3_deu" readonly :value="deudor.aux3 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux4" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux4_deu" readonly :value="deudor.aux4 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux5" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux5_deu" readonly :value="deudor.aux5 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux6" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux6_deu" readonly :value="deudor.aux6 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux7" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux7_deu" readonly :value="deudor.aux7 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux8" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux8_deu" readonly :value="deudor.aux8 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux9" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux9_deu" readonly :value="deudor.aux9 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux10" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux10_deu" readonly :value="deudor.aux10 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux11" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux11_deu" readonly :value="deudor.aux11 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux12" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux12_deu" readonly :value="deudor.aux12 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux13" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux13_deu" readonly :value="deudor.aux13 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux14" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux14_deu" readonly :value="deudor.aux14 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux15" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux15_deu" readonly :value="deudor.aux15 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux16" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux16_deu" readonly :value="deudor.aux16 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux17" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux17_deu" readonly :value="deudor.aux17 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux18" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux18_deu" readonly :value="deudor.aux18 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux19" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux19_deu" readonly :value="deudor.aux19 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux20" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux20_deu" readonly :value="deudor.aux20 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux21" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux21_deu" readonly :value="deudor.aux21 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux22" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux22_deu" readonly :value="deudor.aux22 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux23" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux23_deu" readonly :value="deudor.aux23 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux24" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux24_deu" readonly :value="deudor.aux24 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux25" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux25_deu" readonly :value="deudor.aux25 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux26" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux26_deu" readonly :value="deudor.aux26 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux27" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux27_deu" readonly :value="deudor.aux27 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux28" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux28_deu" readonly :value="deudor.aux28 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux29" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux29_deu" readonly :value="deudor.aux29 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux30" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux30_deu" readonly :value="deudor.aux30 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux31" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux31_deu" readonly :value="deudor.aux31 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux32" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux32_deu" readonly :value="deudor.aux32 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux33" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux33_deu" readonly :value="deudor.aux33 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux34" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux34_deu" readonly :value="deudor.aux34 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux35" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux35_deu" readonly :value="deudor.aux35 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux36" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux36_deu" readonly :value="deudor.aux36 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux37" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux37_deu" readonly :value="deudor.aux37 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux38" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux38_deu" readonly :value="deudor.aux38 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux39" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux39_deu" readonly :value="deudor.aux39 || '-'">
        </v-text-field>
      </v-col>
      <v-col v-if="hayAux40" cols="12" sm="12" md="1" lg="1" xl="1">
        <v-text-field class="colores text-field" :label="empresa.lbl_aux40_deu" readonly :value="deudor.aux40 || '-'">
        </v-text-field>
      </v-col>
    </v-row>
  </v-container>
</section>