<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :headers="headers" :search="search" :items="tiposConvenio" sort-by="id_tipo_convenio"
        class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Tipos Convenio</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field class="mx-4" v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
              hide-details>
            </v-text-field>
            <v-dialog v-model="dialog" max-width="1200px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
                <v-form v-model="valid" ref="form" lazy-validation>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field :rules="formTitle.toLowerCase() === 'agregar tipos convenio' ? reglasID : [] "
                            :disabled="formTitle.toLowerCase() === 'agregar tipos convenio' ? false : true"
                            v-model="editedItem.id_tipo_convenio" label="Id tipo convenio"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="8" lg="8" xl="8">
                          <v-select :rules="reglasEmpresa" v-model="editedItem.id_empresa" label="Id Empresa"
                            :items="empresas" item-text="descripcion" item-value="idEmp">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="10" lg="10" xl="10">
                          <v-text-field v-model="editedItem.descripcion" label="descripcion" :rules="reglaDescripcion">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field :disabled="switchLibre" type="number" v-model="editedItem.max_cuotas"
                            label="max_cuotas" :rules="reglaMaxCuotas">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-switch inset @click="switchClickLibre()" v-model="switchLibre" label="Es Convenio Libre">
                          </v-switch>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-switch inset :disabled="switchLibre" @click="switchClickRefinanciacion()" v-model="switchRef"
                            label="Con refinanciación"></v-switch>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-switch inset :disabled="switchLibre" @click="switchClickSobreHistorico()" v-model="switchHist"
                            label="Sobre Histórico"></v-switch>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-switch inset :disabled="switchLibre" @click="switchClickAnticipoHist()" v-model="switchAnticipo"
                            label="Anticipo sobre histórico"></v-switch>
                        </v-col>

                        <!-- CUOTA 0 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.anticipo0" label="anticipo0">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo0" label="porc_anticipo0">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo0" label="monto_min_anticipo0">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota0" label="limite_min_cuota0">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota0" label="limite_quita_cuota0">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota0" label="maximo_quita_cuota0">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 1 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.anticipo1" label="anticipo1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo1" label="porc_anticipo1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo1" label="monto_min_anticipo1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota1" label="limite_min_cuota1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota1" label="limite_quita_cuota1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=1" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota1" label="maximo_quita_cuota1">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 2 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=2" :disabled="switchLibre"
                            v-model="editedItem.anticipo2" label="anticipo2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=2" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo2" label="porc_anticipo2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=2" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo2" label="monto_min_anticipo2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=2" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota2" label="limite_min_cuota2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=2" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota2" label="limite_quita_cuota2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=2" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota2" label="maximo_quita_cuota2">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 3 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=3" :disabled="switchLibre"
                            v-model="editedItem.anticipo3" label="anticipo3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=3" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo3" label="porc_anticipo3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=3" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo3" label="monto_min_anticipo3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=3" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota3" label="limite_min_cuota3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=3" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota3" label="limite_quita_cuota3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=3" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota3" label="maximo_quita_cuota3">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 4 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=4" :disabled="switchLibre"
                            v-model="editedItem.anticipo4" label="anticipo4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=4" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo4" label="porc_anticipo4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=4" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo4" label="monto_min_anticipo4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=4" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota4" label="limite_min_cuota4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=4" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota4" label="limite_quita_cuota4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=4" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota4" label="maximo_quita_cuota4">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 5 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=5" :disabled="switchLibre"
                            v-model="editedItem.anticipo5" label="anticipo5">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=5" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo5" label="porc_anticipo5">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=5" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo5" label="monto_min_anticipo5">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=5" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota5" label="limite_min_cuota5">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=5" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota5" label="limite_quita_cuota5">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=5" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota5" label="maximo_quita_cuota5">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 6 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=6" :disabled="switchLibre"
                            v-model="editedItem.anticipo6" label="anticipo6">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=6" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo6" label="porc_anticipo6">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=6" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo6" label="monto_min_anticipo6">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=6" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota6" label="limite_min_cuota6">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=6" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota6" label="limite_quita_cuota6">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=6" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota6" label="maximo_quita_cuota6">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 7 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=7" :disabled="switchLibre"
                            v-model="editedItem.anticipo7" label="anticipo7">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=7" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo7" label="porc_anticipo7">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=7" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo7" label="monto_min_anticipo7">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=7" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota7" label="limite_min_cuota7">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=7" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota7" label="limite_quita_cuota7">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=7" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota7" label="maximo_quita_cuota7">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 8 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=8" :disabled="switchLibre"
                            v-model="editedItem.anticipo8" label="anticipo8">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=8" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo8" label="porc_anticipo8">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=8" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo8" label="monto_min_anticipo8">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=8" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota8" label="limite_min_cuota8">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=8" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota8" label="limite_quita_cuota8">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=8" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota8" label="maximo_quita_cuota8">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 9 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=9" :disabled="switchLibre"
                            v-model="editedItem.anticipo9" label="anticipo9">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=9" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo9" label="porc_anticipo9">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=9" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo9" label="monto_min_anticipo9">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=9" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota9" label="limite_min_cuota9">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=9" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota9" label="limite_quita_cuota9">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=9" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota9" label="maximo_quita_cuota9">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 10 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=10" :disabled="switchLibre"
                            v-model="editedItem.anticipo10" label="anticipo10">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=10" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo10" label="porc_anticipo10">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=10" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo10" label="monto_min_anticipo10">
                          </v-text-field>
                        </v-col>                        
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=10" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota10" label="limite_min_cuota10">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=10" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota10" label="limite_quita_cuota10">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=10" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota10" label="maximo_quita_cuota10">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 11 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=11" :disabled="switchLibre"
                            v-model="editedItem.anticipo11" label="anticipo11">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=11" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo11" label="porc_anticipo11">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=11" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo11" label="monto_min_anticipo11">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=11" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota11" label="limite_min_cuota11">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=11" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota11" label="limite_quita_cuota11">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=11" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota11" label="maximo_quita_cuota11">
                          </v-text-field>
                        </v-col>

                        <!-- CUOTA 12 -->

                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=12" :disabled="switchLibre"
                            v-model="editedItem.anticipo12" label="anticipo12">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=12" :disabled="switchLibre"
                            v-model="editedItem.porc_anticipo12" label="porc_anticipo12">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=12" :disabled="switchLibre"
                            v-model="editedItem.monto_min_anticipo12" label="monto_min_anticipo12">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=12" :disabled="switchLibre"
                            v-model="editedItem.limite_min_cuota12" label="limite_min_cuota12">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=12" :disabled="switchLibre"
                            v-model="editedItem.limite_quita_cuota12" label="limite_quita_cuota12">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field v-if="editedItem.max_cuotas>=12" :disabled="switchLibre"
                            v-model="editedItem.maximo_quita_cuota12" label="maximo_quita_cuota12">
                          </v-text-field>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux1" label="Aux1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux2" label="Aux2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux3" label="Aux3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux4" label="Aux4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux5" label="Aux5">
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary--text" @click="close">
                      Cancelar
                    </v-btn>
                    <v-btn :disabled="!valid" color="primary" text--white @click="save">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <div>
            <v-icon small class="mr-2" color="warning" @click="editItem(item)">
              mdi-pencil
            </v-icon>
          </div>
        </template>
      </v-data-table>
      <v-snackbar class="mb-8" v-model="snackbarOn" :color="colorSnackbar">
        {{ opExitosa ? 'Operación realizada con éxito' : 'Se produjo un error' }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="cerrarSnackbar">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-col>
  </v-row>
</v-container>