<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :headers="headers" :search="search" :items="templateCorreos" class="elevation-1 "
        :items-per-page="itemsPorPagina" :footer-props="{'items-per-page-text':'templates por página'}">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Template Correos</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog persistent v-model="dialog" max-width="1300px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
                <v-card-text>
                  <v-form ref="form" lazy-validation>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="6" lg="6">
                          <v-text-field v-model="modeloEditar.nombre" label="Nombre Template" :rules="reglas">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6">
                          <v-select :rules="reglas" :items="empresas" label="Empresa" outlined item-text="descripcion"
                            item-value="idEmp" v-model="modeloEditar.id_empresa"></v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="12" lg="12">
                          <v-text-field v-model="modeloEditar.asunto" label="Asunto" :rules="reglas">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3">
                          <v-row>
                            <v-select v-model="campoSeleccionado" :items="campos" label="Campo variable" solo>
                            </v-select>
                            <v-btn class="m-1" color="primary" @click="agregarCampoAsunto()"
                              :disabled="habilitaBotonInsertar">Insertar en asunto
                            </v-btn>
                            <v-btn class="m-1" color="primary" @click="agregarCampoTexto()"
                              :disabled="habilitaBotonInsertar">Insertar en texto
                            </v-btn>
                          </v-row>
                          <v-row>
                            <v-checkbox v-model="formulaCheck" label="Insertar fórmula" :disabled="checkDisabled">
                            </v-checkbox>
                          </v-row>
                          <v-row v-if="formulaCheck">
                            <v-select v-model="operacion" :items="operaciones" label="Seleccione operación" solo>
                            </v-select>
                          </v-row>
                          <v-row v-if="formulaCheck">
                            <v-text-field type="number" v-model="valorFormula" label="Valor Formula" :rules="reglas">
                            </v-text-field>
                          </v-row>
                        </v-col>
                        <v-col cols="12" sm="12" md="9" lg="9">
                          <vue-editor v-model="modeloEditar.texto"></vue-editor>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogGuardar()">
                    Cancelar
                  </v-btn>
                  <v-btn :loading="btnLoading" :disabled="!validarAgregar" color="primary" @click="guardar()">
                    Confirmar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog persistent v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title></v-card-title>
                <h6>¿Seguro que desea eliminar el template?</h6>
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogEliminar()">Cancelar</v-btn>
                  <v-btn :loading="btnLoading" color="primary" @click="eliminarTemplate()">Eliminar</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)" color="warning">
            mdi-pencil
          </v-icon>
          <v-icon small @click="dialogEliminar(item)" color="error">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:item.tipo_correo="{ item }">
          {{item.tipo_correo.descripcion}}
        </template>
        <template v-slot:item.efectivo="{ item }">
          <div v-if="item.efectivo==1">
            <v-icon color="success">
              mdi-check
            </v-icon>
          </div>
        </template>
        <template v-slot:no-data>
          <h6>No hay datos</h6>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>

</v-container>