<v-main class="mb-12">
    <v-row class="mt-8">
        <v-col cols="3">
            <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
                <v-icon dark>
                    chevron_left
                </v-icon>
            </v-btn>
        </v-col>
        <v-col cols="6">
            <v-toolbar dense rounded>
                <v-text-field hide-details prepend-icon="mdi-magnify" single-line placeholder="Ingrese ..."
                    v-model="sistemaBuscado"></v-text-field>
            </v-toolbar>
        </v-col>
    </v-row>
    <Loader></Loader>
    <div v-if="!operaciones.loaderStatus" v-for="(item, i) in getItems" :key="i">
        <v-row v-if="i===0">
            <v-col sm="10" offset-sm="1" lg="8" offset-lg="2">
                <h2 class="mt-8 text-center primary--text display-1">{{ getNombreGrupo() }}</h2>
            </v-col>
        </v-row>
        <v-row class="mb-8 justify-center">
            <v-col cols="7">
                <div>
                    <v-hover v-slot="{ hover }">
                        <v-card :elevation="hover ? 16 : 1" :class="{ 'on-hover': hover, 'change-pointer': hover }">
                            <!-- <router-link :to="{name:rmAcentos(item.nombreItem).split(' ').join('').toLowerCase()}"> -->
                            <router-link tag="p" :to="{name: item.path}">
                                <v-card-text>
                                    <p class="title text--primary">
                                        {{item.nombreItem}}
                                    </p>
                                    <div class="text--primary">
                                        {{item.descripcion}}
                                    </div>
                                </v-card-text>
                            </router-link>
                        </v-card>
                    </v-hover>
                </div>
            </v-col>
        </v-row>
    </div>
    <div v-if="!operaciones.loaderStatus" class="text-center mb-8 ">
        <v-pagination circle v-show="getItems ? getItems.length > 0 : false" v-model="page" :length="nroPaginas">
        </v-pagination>
    </div>
    <v-snackbar v-model="operaciones.errorStatus" color="error">
        Hubo un error al cargar su solicitud. Vuelva a intentarlo mas tarde.
        <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="cerrarError">
                Cerrar
            </v-btn>
        </template>
    </v-snackbar>
</v-main>