<section class="mt-16 d-flex justify-content-center">
  <v-data-table :header-props="headerProps" :headers="cabeceras" :items="pagosPorIdDeudor" class="elevation-1" :items-per-page="10"
    :footer-props="{'items-per-page-text':'pagos por página'}">
    <template v-slot:item.nro_comprobante="{ item }">
      {{item.nro_comprobante}}
    </template>
    <template v-slot:item.fecha_pago="{ item }">
      {{ item.fecha_pago || '-'}}
    </template>
    <template v-slot:item.fecha_aplicacion="{ item }">
      {{ item.fecha_aplicacion || '-'}}
    </template>
    <template v-slot:item.fecha_rendicion="{ item }">
      {{ item.fecha_rendicion || '-'}}
    </template>
    <template v-slot:item.importe_total="{ item }">
      {{ `$ ${ item.importe_total } ` || '-'}}
    </template>
    <template v-slot:item.importe_aplicado="{ item }">
      {{ `$ ${ item.importe_aplicado } ` || '-'}}
    </template>
    <template v-slot:item.id_tipo_pago="{ item }">
      {{ item.id_tipo_pago || '-'}}
    </template>
    <template v-slot:item.id_forma_pago="{ item }">
      {{ item.id_entidad || '-'}}
    </template>
    <template v-slot:item.fecha_registro="{ item }">
      {{ item.fecha_registro || '-'}}
    </template>
    <template v-slot:item.aux1="{ item }">
      {{ item.aux1 || '-'}}
    </template>
    <template v-slot:item.aux2="{ item }">
      {{ item.aux2 || '-'}}
    </template>
    <template v-slot:item.aux3="{ item }">
      {{ item.aux3 || '-'}}
    </template>
    <template v-slot:no-data>
      <h6> No se encontraron pagos registrados para el deudor {{id_deudor}} </h6>
    </template>
  </v-data-table>
</section>
