<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">    
    <meta name="description" content="Sistema integral de gestión para cobranza y contact center - Ana Maya S.A."/>
    <meta name="keywords" content="ANA MAYA, ana maya, Ana Maya S.A., ana maya sa, anamayasa, anamaya"/>
    <meta name="author" content="MLCD Soft" />
    
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Sistema Integral de Gestión de Cobranzas - Ana Maya S.A.</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
