<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :loading="loading" :headers="cabeceras" :search="search" :items="transaccionesOk" class="elevation-1" :items-per-page="10"
        :footer-props="{'items-per-page-text':'transacciones por página'}">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Logs de reportes</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field class="mx-4" v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
              hide-details>
            </v-text-field>
          </v-toolbar>
        </template>
        <template v-slot:item.fecha_inicio="{ item }">
          {{ getDate(item.fecha_inicio) }}
        </template>
        <template v-slot:item.fecha_fin="{ item }">
          {{ getDate(item.fecha_fin) }}
        </template>
        <template v-slot:item.id_tipo_transaccion="{ item }">
          {{ item.id_tipo_transaccion }}
        </template>
        <template v-slot:item.detalle="{ item }">
          <v-btn x-small color="primary" dark @click="mostrarDetalle(item)">
            <v-icon small>search</v-icon>
          </v-btn>
        </template>
        <template v-slot:item.usuario="{ item }">
          {{ item.usuario }}
        </template>
        <template v-slot:item.id_llamada="{ item }">
          {{ item.id_llamada }}
        </template>
        <template v-slot:item.grabacion="{ item }">
          {{ item.grabacion }}
        </template>
        <template v-slot:item.aux1="{ item }">
          {{ item.aux1 }}
        </template>
        <template v-slot:no-data>
          <h6> No se registran transacciones de reportes </h6>
        </template>
      </v-data-table>
      <div class="text-center">
        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-toolbar color="primary" dark>Detalle</v-toolbar>
            <v-card-text class="mt-3">
              <strong>{{detalleItem}}</strong>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="dialog = false">
                Cerrar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-col>
  </v-row>
</v-container>