<section class="mt-16 d-flex justify-content-center">
  <v-data-table :header-props="headerProps" :headers="cabeceras" :items="conveniosPorIdDeudor" class="elevation-1"
    :items-per-page="10" :footer-props="{'items-per-page-text':'convenios por página'}">
    <template v-slot:item.detalle="{ item }">
      <v-btn x-small color="primary" dark @click="mostrarDetalle(item)">
        <v-icon small>search</v-icon>
      </v-btn>
    </template>
    <template v-slot:item.anulado="{ item }">
      <div v-if="item.anulado == 0">
        <span class="success--text"><strong>VIGENTE</strong></span> 
      </div>
      <div v-else>
        <span class="error--text"><strong>ANULADO</strong></span> 
      </div>
    </template>
    <template v-slot:no-data>
      <h6> No se encontraron convenios registradas para el deudor {{deudor.id_deudor}} </h6>
    </template>
  </v-data-table>
  <div class="text-center">
    <v-dialog v-model="dialog" width="800">
      <v-card>
        <v-toolbar color="primary" dark>Detalle de cuotas</v-toolbar>
        <v-card-text class="mt-3">
          <v-row>
            <v-col v-if="importe1>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto1" label="Fecha Vto 1" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe1" label="Importe 1" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe2>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto2" label="Fecha Vto 2" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe2" label="Importe 2" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe3>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto3" label="Fecha Vto 3" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe3" label="Importe 3" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe4>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto4" label="Fecha Vto 4" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe4" label="Importe 4" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe5>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto5" label="Fecha Vto 5" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe5" label="Importe 5" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe6>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto6" label="Fecha Vto 6" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe6" label="Importe 6" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe7>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto7" label="Fecha Vto 7" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe7" label="Importe 7" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe8>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto8" label="Fecha Vto 8" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe8" label="Importe 8" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe9>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto9" label="Fecha Vto 9" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe9" label="Importe 9" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe10>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto10" label="Fecha Vto 10" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe10" label="Importe 10" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe11>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto11" label="Fecha Vto 11" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe11" label="Importe 11" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="importe12>0" cols="12" sm="12" md="4" lg="4" xl="4">
              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="fecha_vto12" label="Fecha Vto 12" disabled></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                  <v-text-field v-model="importe12" label="Importe 12" disabled></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</section>