<v-container>
  <v-row class=" mt-3 justify-content-start">
    <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
      <v-icon dark>
        chevron_left
      </v-icon>
    </v-btn>
  </v-row>
  <p class="mt-3 display-1 primary--text">Base para Neotel</p>
  <selector class="mt-5" :url="url" :campos="campos" nombreArchivo="contactos.xlsx" vistaPrevia="NO" descargaDirecta="SI"></selector>
</v-container>

