<v-card>
    <v-toolbar color="primary" dark="dark">Envío de correo electrónico</v-toolbar>
    <v-card-text>
        <v-container>
            <v-row>
                <v-col cols="12" sm="12" md="12">
                    <v-select v-model="para" :items="correos" item-text="correo" label="Para*"></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                    <v-text-field v-model="asunto" label="Asunto*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                    <vue-editor v-model="texto"></vue-editor>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-select small-chips="small-chips" v-model="template" :items="templateCorreosPorEmpresa"
                        item-text="nombre" item-value="id_template" label="Template Correos">
                    </v-select>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-file-input multiple="multiple" small-chips="small-chips" v-model="archivosAdjuntos"
                        label="Archivo Adjunto..."></v-file-input>
                </v-col>
            </v-row>
        </v-container>
    </v-card-text>
    <v-card-actions class="d-flex justify-content-center">
        <v-btn textcolor="primary" class="primary--text mb-4" @click="cerrarDialog(0)">
            Cancelar
        </v-btn>
        <v-btn :loading="btnLoading" color="primary" @click="aceptarMail()" class="mb-4" :disabled="habilitarEnvio">
            Enviar
        </v-btn>
    </v-card-actions>
</v-card>