<section>
  <div v-if="cargando">
    <v-dialog v-model="dialog" hide-overlay persistent width="300">
      <v-card color="primary" dark class="pt-2">
        <v-card-text class="subtitle-2">
          Cargando ...
          <v-progress-linear indeterminate color="white" class="my-2"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>

  <div v-else-if="!muestraMensaje">
    <v-container>
      <v-row class="mt-1 d-flex align-items-center">
        <v-col cols="12" sm="6" md="6" lg="4" xl="4">
          <v-row>
            <strong>Número de deudor</strong>: {{deudor.id_deudor}}
          </v-row>
          <v-row>
            <strong>Nombre</strong>: {{deudor.nombre_apellido}}
          </v-row>
        </v-col>

        <v-col cols="12" sm="6" md="6" lg="4" xl="4">
          <h1>{{empresa.descripcion}}</h1>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="4" xl="4">
          <v-row>
            <v-col xs="6" sm="6" md="6" lg="6" xl="6">
              <v-btn color="primary" @click='agendarLlamado()'>
                AGENDAR CASO
              </v-btn>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
              <v-btn color="primary" @click="actualizarBuscar()">
                BUSCAR / ACTUALIZAR
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-tabs color="white" slider-color="white" icons-and-text :background-color="backgroundTab" dark flat fixed-tabs
          show-arrows next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline">
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmGestion`">
            GESTION
            <v-icon medium color="white">
              headset_mic
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmOtrasCuentas`">
            OTRAS CUENTAS
            <v-icon medium color="white">
              people
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmFacturas`">
            FACTURAS
            <v-icon medium color="white">
              receipt
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmPagos`">
            PAGOS
            <v-icon medium color="white">
              monetization_on
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmConvenios`">
            CONVENIOS
            <v-icon medium color="white">
              gavel
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmDatosComplementarios`">
            DATOS COMP.
            <v-icon medium color="white">
              article
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmProcesos`">
            PROCESOS
            <v-icon medium color="white">
              settings
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmPoliticas`">
            POLITICAS
            <v-icon medium color="white">
              sticky_note_2
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmScript`">
            SCRIPT
            <v-icon medium color="white">
              forum
            </v-icon>
          </v-tab>
          <v-tab :to="`/CrmMenu/${id_deudor}/CrmTransacciones`">
            TRANSACCIONES
            <v-icon medium color="white">
              plagiarism
            </v-icon>
          </v-tab>
        </v-tabs>
      </v-row>
      <router-view></router-view>
    </v-container>
  </div>
  <div v-else>
    <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
      {{mensaje}}
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
  <v-dialog v-model="dialogDeudor" persistent max-width="290">
    <v-card>
      <v-toolbar color="primary" dark>
        <v-icon large color="white">warning</v-icon><strong class="ml-5 title">Atención</strong>
      </v-toolbar>
      <v-card-text class="mt-5">
        <strong>Deudor {{deudorNuevo}} no encontrado.</strong>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary">
          <router-link class="white--text" to="/BuscadorDeudor">Ir a busqueda</router-link>
        </v-btn>
        <v-btn class="primary--text" @click="dialogDeudor = false">
          Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-dialog v-model="dialogToyotaAtCliente" persistent max-width="500">
    <v-card>
      <v-toolbar color="primary" dark>
        <v-icon large color="white">warning</v-icon><strong class="ml-5 title">Número de gestión</strong>
      </v-toolbar>
      <v-card-text class="mt-5">
        <v-text-field type="number" v-model="id_gestion" label="Id gestión"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="primary--text" @click="dialogToyotaAtCliente = false">
          Cerrar
        </v-btn>
        <v-btn :disabled="hayIdGestion" color="primary" @click="cargarAtClienteGestionToyota()">
          Cargar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</section>