<section class="mt-16 d-flex justify-content-center">
  <v-data-table :header-props="headerProps" :headers="cabeceras" :items="facturasPorIdDeudor" class="elevation-1"
    :items-per-page="10" :footer-props="{'items-per-page-text':'facturas por página'}">
    <template v-slot:item.nro_factura="{ item }">
      {{item.nro_factura}}
    </template>
    <template v-slot:item.fecha_comprobante="{ item }">
      {{ item.fecha_comprobante || '-'}}
    </template>
    <template v-slot:item.fecha_vencimiento="{ item }">
      {{ item.fecha_vencimiento }}
    </template>
    <template v-slot:item.importe1="{ item }">
      {{ item.importe1 > 0 ? `$ ${item.importe1}` : '-' }}
    </template>
    <template v-slot:item.importe2="{ item }">
      {{ item.importe2 > 0 ? `$ ${item.importe2}` : '-' }}
    </template>
    <template v-slot:item.importe3="{ item }">
      {{ item.importe3 > 0 ? `$ ${item.importe3}` : '-' }}
    </template>
    <template v-slot:item.importe4="{ item }">
      {{ item.importe4 > 0 ? `$ ${item.importe4}` : '-' }}
    </template>
    <template v-slot:item.importe5="{ item }">
      {{ item.importe5 > 0 ? `$ ${item.importe5}` : '-' }}
    </template>
    <template v-slot:item.clave_pago="{ item }">
      {{ item.clave_pago || '-'}}
    </template>
    <template v-slot:item.cant_cartas="{ item }">
      {{ item.cant_cartas || '-'}}
    </template>
    <template v-slot:item.correo="{ item }">
      {{ item.correo || '-'}}
    </template>
    <template v-slot:no-data>
      <h6> No se encontraron facturas registradas para el deudor {{deudor.id_deudor}} </h6>
    </template>
  </v-data-table>
</section>