<v-main mb-12>
  <v-row class="mt-4">
    <v-col cols="6" offset="3">
      <v-toolbar dense rounded>
        <v-text-field hide-details prepend-icon="mdi-magnify" single-line placeholder="Ingrese ..."
          v-model="opcionBuscada"></v-text-field>
      </v-toolbar>
    </v-col>
  </v-row>
  <v-row>
    <v-col sm="10" offset-sm="1" lg="8" offset-lg="2">
      <h2 class="display-1 mt-2 text-center primary--text">Sistema de Gestión de Cobranzas - Ana Maya S.A.</h2>
    </v-col>
  </v-row>
  <v-row class="mb-8">
    <v-col sm="10" offset-sm="1" lg="8" offset-lg="2">
      <v-row>
        <Loader></Loader>
        <v-col v-if="!operaciones.loaderStatus" cols="12" sm="12" md="4" lg="4" v-for="(producto, i) in opcionesFiltradas" :key="i">
            <CardPPal :producto="producto" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
  <v-row class="d-flex justify-content-center">
    <div v-if="!operaciones.loaderStatus" class="text-center mb-2">
      <v-pagination circle v-show="opcionesFiltradas ? opcionesFiltradas.length > 0 : false" v-model="page" :length="nroPaginas">
      </v-pagination>
  </div>
  </v-row>
  <v-snackbar v-model="operaciones.errorStatus" color="error">
    Hubo un error al cargar su solicitud. Vuelva a intentarlo mas tarde.
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="cerrarError">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>
</v-main>