<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :loading="tableLoading" :headers="headers" :search="search" :items="dataUsuarios"
        sort-by="id_usuario" class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Usuarios</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field class="mx-4" v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
              hide-details>
            </v-text-field>
            <v-dialog v-model="dialog" max-width="1200px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
                <v-form v-model="valid" ref="form" lazy-validation>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field :rules="formTitle.toLowerCase() === 'agregar usuario' ? reglasID : [] "
                            :disabled="formTitle.toLowerCase() === 'agregar usuario' ? false : true"
                            v-model="editedItem.id_usuario" label="Id Usuario"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field :rules="formTitle.toLowerCase() === 'agregar usuario' ? reglasLegajo : [] "
                            :disabled="formTitle.toLowerCase() === 'agregar usuario' ? false : true"
                            v-model="editedItem.legajo_neotel" label="Legajo"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="8" lg="8" xl="8">
                          <v-text-field v-model="editedItem.nombre_completo" label="Nombre Completo"
                            :rules="reglasDescripcion">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.correo" label="Correo Electrónico" :rules="reglasCorreo">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.dni" label="Número de documento" :rules="reglasDni">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.cuil" label="Número de CUIL" :rules="reglasCuil">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select :rules="reglasHorario" v-model="editedItem.hora_ingreso" label="Horario Ingreso"
                            :items="horarios">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select :rules="reglasHorario" v-model="horario_salida" label="Horario Salida"
                            :items="horarios">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select :rules="reglasHorario" v-model="editedItem.id_rol" label="Rol" :items="roles"
                            item-text="nombre" item-value="id_rol">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select :rules="reglasHorario" v-model="editedItem.id_grupo" label="Grupo de Trabajo" :items="gruposDeTrabajo"
                            item-text="descripcion" item-value="id_grupo">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select v-model="editedItem.break1" label="Horario break 1" :items="horarios">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select v-model="editedItem.break2" label="Horario break 2" :items="horarios">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select v-model="editedItem.break3" label="Horario break 3" :items="horarios">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                          <v-select v-model="editedItem.break4" label="Horario break 4" :items="horarios">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.aux1" label="Aux1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.aux2" label="Aux2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.aux3" label="Aux3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.aux4" label="Aux4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.aux5" label="Aux5">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field v-model="editedItem.aux6" label="Aux6">
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary--text" @click="close">
                      Cancelar
                    </v-btn>
                    <v-btn :loading="btnLoading" :disabled="!valid" color="primary" text--white @click="save">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <div>
            <v-icon small class="mx-2" color="warning" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small color="success" @click="resetearContraseña(item.id_usuario)">
              mdi-lock
            </v-icon>
          </div>
        </template>
      </v-data-table>
      <v-snackbar class="mb-8" v-model="snackbarOn" :color="colorSnackbar">
        {{ opExitosa ? mensaje : 'Se produjo un error' }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="cerrarSnackbar">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-col>
  </v-row>
</v-container>