<v-card>
  <v-toolbar color="primary" dark>Selector de casos</v-toolbar>
  <v-card-text>
    <v-form v-model="formValid" ref="form" lazy-validation>
      <v-container class="mt-3">
        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
            <v-switch inset @click="switchClick()" v-model="switch1" label="Habilita Seleccion Empresa"></v-switch>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
            <v-select v-model="objetoSelector.id_empresa" :rules="rules" :items="empresas" item-text="descripcion"
              item-value="idEmp" label="Seleccione Empresa" :disabled="!switch1"></v-select>
          </v-col>
        </v-row>
        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_situacion_desde" label="Codigo Situación Desde"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_situacion_hasta" label="Codigo Situación Hasta"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_situacion_omite_desde"
              label="Codigo Situación Omite Desde" :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_situacion_omite_hasta"
              label="Codigo Situación Omite Hasta" :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_gestion_desde" label="Codigo Gestión Desde"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_gestion_hasta" label="Codigo Gestión Hasta"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_gestion_omite_desde"
              label="Codigo Gestión Omite Desde" :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_gestion_omite_hasta"
              label="Codigo Gestión Omite Hasta" :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.remesa_desde" label="Remesa Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.remesa_hasta" label="Remesa Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.remesa_omite_desde" label="Remesa Omite Desde"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.remesa_omite_hasta" label="Remesa Omite Hasta"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.deuda_desde" label="Deuda Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.deuda_hasta" label="Deuda Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.deuda_omite_desde" label="Deuda Omite Desde"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.deuda_omite_hasta" label="Deuda Omite Hasta"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.politica_desde" label="Politica Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.politica_hasta" label="Politica Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.politica_omite_desde" label="Politica Omite Desde"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.politica_omite_hasta" label="Politica Omite Hasta"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_deudor_desde" label="Id Deudor Desde"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_deudor_hasta" label="Id Deudor Hasta"
              :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_deudor_omite_desde"
              label="Id Deudor Omite Desde" :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="number" v-model="objetoSelector.id_deudor_omite_hasta"
              label="Id Deudor Omite Hasta" :rules="rules" hide-details="auto"></v-text-field>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpRecepcionDesde" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_recepcion_desde" label="Fecha recepcion desde" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_recepcion_desde" @input="dpRecepcionDesde = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpRecepcionHasta" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_recepcion_hasta" label="Fecha recepcion hasta" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_recepcion_hasta" @input="dpRecepcionHasta = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpRecepcionOmiteDesde" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_recepcion_omite_desde" label="Fecha recepcion omite desde" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_recepcion_omite_desde" @input="dpRecepcionOmiteDesde = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpRecepcionOmiteHasta" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_recepcion_omite_hasta" label="Fecha recepcion omite hasta" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_recepcion_omite_hasta" @input="dpRecepcionOmiteHasta = false"></v-date-picker>
            </v-menu>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpCierreDesde" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_cierre_desde" label="Fecha cierre desde" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_cierre_desde" @input="dpCierreDesde = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpCierreHasta" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_cierre_hasta" label="Fecha cierre hasta" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_cierre_hasta" @input="dpCierreHasta = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpCierreOmiteDesde" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_cierre_omite_desde" label="Fecha cierre omite desde" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_cierre_omite_desde" @input="dpCierreOmiteDesde = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="12" md="2" lg="2" xl="2">
            <v-menu v-model="dpCierreOmiteHasta" :close-on-content-click="false" :nudge-right="40"
              transition="scale-transition" offset-y min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="objetoSelector.fecha_cierre_omite_hasta" label="Fecha cierre omite hasta" prepend-icon="mdi-calendar" readonly
                  v-bind="attrs" v-on="on"></v-text-field>
              </template>
              <v-date-picker v-model="objetoSelector.fecha_cierre_omite_hasta" @input="dpCierreOmiteHasta = false"></v-date-picker>
            </v-menu>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-checkbox v-model="objetoSelector.telEfectivos" label="Solo Teléfonos efectivos" color="primary"
              hide-details>
            </v-checkbox>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-checkbox v-model="objetoSelector.celIplan" label="Iplan" color="primary"
              @click="objetoSelector.celIplanLc = false, objetoSelector.net2phone = false" hide-details></v-checkbox>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-checkbox v-model="objetoSelector.celIplanLc" label="Iplan Low Cost" color="primary"
              @click="objetoSelector.celIplan = false, objetoSelector.net2phone = false" hide-details></v-checkbox>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-checkbox v-model="objetoSelector.net2phone" label="Net2phone" color="primary"
              @click="objetoSelector.celIplan = false, objetoSelector.celIplanLc = false" hide-details></v-checkbox>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-content-center mt-5">
          <v-col cols="12" xs="12" sm="12" md="4" lg="4" xl="4">
            <v-select :items="comboAux" label="Seleccione Auxiliar" v-model="auxSeleccionado">
            </v-select>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-btn class="mt-3" :disabled="auxSeleccionado==''" color="primary" @click="agregarAuxiliar()">Agregar
            </v-btn>
          </v-col>
        </v-row>

        <!-- -------------------------
        ------------------------------
        EMPIEZAN LOS CAMPOS AUXILIARES
        ------------------------------
        -------------------------- -->

        <v-row v-if="eligeAux1" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux1_desde" label="Aux1 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux1_hasta" label="Aux1 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux1_omite_desde" label="Aux1 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux1_omite_hasta" label="Aux1 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux1=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux2" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux2_desde" label="Aux2 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux2_hasta" label="Aux2 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux2_omite_desde" label="Aux2 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux2_omite_hasta" label="Aux2 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux2=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux3" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux3_desde" label="Aux3 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux3_hasta" label="Aux3 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux3_omite_desde" label="Aux3 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux3_omite_hasta" label="Aux3 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux3=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux4" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux4_desde" label="Aux4 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux4_hasta" label="Aux4 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux4_omite_desde" label="Aux4 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux4_omite_hasta" label="Aux4 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux4=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux5" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux5_desde" label="Aux5 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux5_hasta" label="Aux5 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux5_omite_desde" label="Aux5 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux5_omite_hasta" label="Aux5 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux5=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux6" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux6_desde" label="Aux6 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux6_hasta" label="Aux6 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux6_omite_desde" label="Aux6 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux6_omite_hasta" label="Aux6 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux6=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux7" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux7_desde" label="Aux7 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux7_hasta" label="Aux7 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux7_omite_desde" label="Aux7 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux7_omite_hasta" label="Aux7 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux7=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux8" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux8_desde" label="Aux8 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux8_hasta" label="Aux8 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux8_omite_desde" label="Aux8 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux8_omite_hasta" label="Aux8 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux8=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux9" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux9_desde" label="Aux9 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux9_hasta" label="Aux9 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux9_omite_desde" label="Aux9 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux9_omite_hasta" label="Aux9 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux9=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux10" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux10_desde" label="Aux10 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux10_hasta" label="Aux10 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux10_omite_desde" label="Aux10 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux10_omite_hasta" label="Aux10 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux10=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux11" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux11_desde" label="Aux11 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux11_hasta" label="Aux11 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux11_omite_desde" label="Aux11 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux11_omite_hasta" label="Aux11 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux11=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux12" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux12_desde" label="Aux12 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux12_hasta" label="Aux12 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux12_omite_desde" label="Aux12 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux12_omite_hasta" label="Aux12 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux12=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux13" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux13_desde" label="Aux13 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux13_hasta" label="Aux13 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux13_omite_desde" label="Aux13 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux13_omite_hasta" label="Aux13 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux13=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux14" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux14_desde" label="Aux14 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux14_hasta" label="Aux14 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux14_omite_desde" label="Aux14 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux14_omite_hasta" label="Aux14 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux14=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux15" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux15_desde" label="Aux15 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux15_hasta" label="Aux15 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux15_omite_desde" label="Aux15 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux15_omite_hasta" label="Aux15 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux15=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux16" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux16_desde" label="Aux16 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux16_hasta" label="Aux16 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux16_omite_desde" label="Aux16 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux16_omite_hasta" label="Aux16 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux16=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux17" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux17_desde" label="Aux17 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux17_hasta" label="Aux17 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux17_omite_desde" label="Aux17 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux17_omite_hasta" label="Aux17 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux17=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux18" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux18_desde" label="Aux18 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux18_hasta" label="Aux18 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux18_omite_desde" label="Aux18 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux18_omite_hasta" label="Aux18 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux18=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux19" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux19_desde" label="Aux19 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux19_hasta" label="Aux19 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux19_omite_desde" label="Aux19 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux19_omite_hasta" label="Aux19 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux19=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux20" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux20_desde" label="Aux20 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux20_hasta" label="Aux20 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux20_omite_desde" label="Aux20 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux20_omite_hasta" label="Aux20 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux20=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux21" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux21_desde" label="Aux21 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux21_hasta" label="Aux21 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux21_omite_desde" label="Aux21 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux21_omite_hasta" label="Aux21 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux21=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux22" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux22_desde" label="Aux22 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux22_hasta" label="Aux22 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux22_omite_desde" label="Aux22 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux22_omite_hasta" label="Aux22 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux22=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux23" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux23_desde" label="Aux23 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux23_hasta" label="Aux23 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux23_omite_desde" label="Aux23 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux23_omite_hasta" label="Aux23 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux23=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux24" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux24_desde" label="Aux24 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux24_hasta" label="Aux24 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux24_omite_desde" label="Aux24 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux24_omite_hasta" label="Aux24 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux24=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux25" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux25_desde" label="Aux25 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux25_hasta" label="Aux25 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux25_omite_desde" label="Aux25 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux25_omite_hasta" label="Aux25 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux25=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux26" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux26_desde" label="Aux26 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux26_hasta" label="Aux26 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux26_omite_desde" label="Aux26 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux26_omite_hasta" label="Aux26 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux26=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux27" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux27_desde" label="Aux27 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux27_hasta" label="Aux27 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux27_omite_desde" label="Aux27 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux27_omite_hasta" label="Aux27 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux27=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux28" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux28_desde" label="Aux28 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux28_hasta" label="Aux28 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux28_omite_desde" label="Aux28 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux28_omite_hasta" label="Aux28 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux28=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux29" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux29_desde" label="Aux29 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux29_hasta" label="Aux29 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux29_omite_desde" label="Aux29 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux29_omite_hasta" label="Aux29 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux29=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux30" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux30_desde" label="Aux30 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux30_hasta" label="Aux30 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux30_omite_desde" label="Aux30 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux30_omite_hasta" label="Aux30 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux30=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux31" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux31_desde" label="Aux31 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux31_hasta" label="Aux31 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux31_omite_desde" label="Aux31 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux31_omite_hasta" label="Aux31 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux31=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux32" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux32_desde" label="Aux32 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux32_hasta" label="Aux32 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux32_omite_desde" label="Aux32 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux32_omite_hasta" label="Aux32 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux32=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux33" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux33_desde" label="Aux33 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux33_hasta" label="Aux33 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux33_omite_desde" label="Aux33 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux33_omite_hasta" label="Aux33 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux33=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux34" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux34_desde" label="Aux34 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux34_hasta" label="Aux34 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux34_omite_desde" label="Aux34 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux34_omite_hasta" label="Aux34 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux34=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux35" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux35_desde" label="Aux35 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux35_hasta" label="Aux35 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux35_omite_desde" label="Aux35 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux35_omite_hasta" label="Aux35 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux35=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux36" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux36_desde" label="Aux36 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux36_hasta" label="Aux36 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux36_omite_desde" label="Aux36 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux36_omite_hasta" label="Aux36 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux36=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux37" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux37_desde" label="Aux37 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux37_hasta" label="Aux37 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux37_omite_desde" label="Aux37 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux37_omite_hasta" label="Aux37 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux37=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux38" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux38_desde" label="Aux38 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux38_hasta" label="Aux38 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux38_omite_desde" label="Aux38 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux38_omite_hasta" label="Aux38 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux38=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux39" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux39_desde" label="Aux39 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux39_hasta" label="Aux39 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux39_omite_desde" label="Aux39 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux39_omite_hasta" label="Aux39 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux39=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux40" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux40_desde" label="Aux40 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux40_hasta" label="Aux40 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux40_omite_desde" label="Aux40 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux40_omite_hasta" label="Aux40 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux40=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux41" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux41_desde" label="Aux41 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux41_hasta" label="Aux41 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux41_omite_desde" label="Aux41 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux41_omite_hasta" label="Aux41 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux41=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux42" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux42_desde" label="Aux42 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux42_hasta" label="Aux42 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux42_omite_desde" label="Aux42 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux42_omite_hasta" label="Aux42 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux42=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux43" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux43_desde" label="Aux43 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux43_hasta" label="Aux43 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux43_omite_desde" label="Aux43 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux43_omite_hasta" label="Aux43 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux43=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux44" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux44_desde" label="Aux44 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux44_hasta" label="Aux44 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux44_omite_desde" label="Aux44 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux44_omite_hasta" label="Aux44 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux44=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux45" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux45_desde" label="Aux45 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux45_hasta" label="Aux45 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux45_omite_desde" label="Aux45 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux45_omite_hasta" label="Aux45 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux45=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux46" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux46_desde" label="Aux46 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux46_hasta" label="Aux46 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux46_omite_desde" label="Aux46 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux46_omite_hasta" label="Aux46 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux46=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux47" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux47_desde" label="Aux47 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux47_hasta" label="Aux47 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux47_omite_desde" label="Aux47 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux47_omite_hasta" label="Aux47 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux47=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux48" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux48_desde" label="Aux48 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux48_hasta" label="Aux48 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux48_omite_desde" label="Aux48 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux48_omite_hasta" label="Aux48 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux48=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux49" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux49_desde" label="Aux49 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux49_hasta" label="Aux49 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux49_omite_desde" label="Aux49 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux49_omite_hasta" label="Aux49 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux49=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

        <v-row v-if="eligeAux50" class="d-flex justify-content-center">
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux50_desde" label="Aux50 Desde" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux50_hasta" label="Aux50 Hasta" :rules="rules"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux50_omite_desde" label="Aux50 Omite Desde"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="12" md="2" lg="2" xl="2">
            <v-text-field type="text" v-model="objetoSelector.aux50_omite_hasta" label="Aux50 Omite Hasta"
              hide-details="auto"></v-text-field>
          </v-col>
          <v-btn fab small class="mt-3" color="red" @click="eligeAux50=false">
            <v-icon small color="white">
              close
            </v-icon>
          </v-btn>
        </v-row>

      </v-container>
    </v-form>

    <v-container v-if="vistaPrevia=='SI'">
      <template v-if="data.length>0">
        <v-data-table :headers="headers" :items="data" :items-per-page="25" class="elevation-1">
          <template v-slot:item.deuda_historica="{ item }">
            <div v-if="item.id_situacion==100000">
              <strong>$ {{item.deuda_historica}}</strong>
            </div>
            <div v-else>
              $ {{item.deuda_historica}}
            </div>
          </template>
          <template v-slot:item.cantidad="{ item }">
            <div v-if="item.id_situacion==100000">
              <strong>{{item.cantidad}}</strong>
            </div>
            <div v-else>
              {{item.cantidad}}
            </div>
          </template>
          <template v-slot:item.pagos="{ item }">
            <div v-if="item.id_situacion==100000">
              <strong>$ {{item.pagos}}</strong>
            </div>
            <div v-else>
              $ {{item.pagos}}
            </div>
          </template>
          <template v-slot:item.prom="{ item }">
            <div v-if="item.id_situacion==100000">
              <strong>{{item.prom}} %</strong>
            </div>
            <div v-else>
              {{item.prom}} %
            </div>
          </template>
          <template v-slot:item.id_situacion="{ item }">
            <div v-if="item.id_situacion==100000">
              <strong>{{item.id_situacion}}</strong>
            </div>
            <div v-else>
              {{item.id_situacion}}
            </div>
          </template>
          <template v-slot:item.descripcion="{ item }">
            <div v-if="item.id_situacion==100000">
              <strong>{{item.descripcion}}</strong>
            </div>
            <div v-else>
              {{item.descripcion}}
            </div>
          </template>
        </v-data-table>
      </template>
    </v-container>

  </v-card-text>
  <v-card-actions class="d-flex justify-content-center">
    <v-row class="d-flex justify-content-center">
      <v-col cols="6" xs="6" sm="6" md="1" lg="1" xl="1">
        <v-btn textcolor="primary" class="primary--text" @click="cancelarSeleccion()">Limpiar</v-btn>
      </v-col>

      <v-col cols="6" xs="6" sm="6" md="1" lg="1" xl="1">
        <v-btn :disabled="!formValid" :loading="btnLoading" color="primary" @click="obtenerSeleccion()">Generar</v-btn>
      </v-col>

      <v-col cols="6" xs="6" sm="6" md="1" lg="1" xl="1">
        <JsonExcel :data="data" :fields="campos" :worksheet="nombreArchivo" :name="nombreArchivo">
          <v-btn :disabled="data.length==0" color="primary">
            <v-icon medium color="white">
              file_download
            </v-icon> XLS
          </v-btn>
        </JsonExcel>
      </v-col>

      <v-col cols="6" xs="6" sm="6" md="1" lg="1" xl="1">
        <v-btn :disabled="data.length==0" color="primary" @click="imprimirPDF()">
          <v-icon medium color="white">
            file_download
          </v-icon> PDF
        </v-btn>
      </v-col>
    </v-row>
  </v-card-actions>

  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>

</v-card>