<section class="buscador-deudor">
  <v-row class="mt-3 ml-6 mr-6">
    <v-col cols="12" sm="12" md="2" lg="2" xl="2">
      <br><br>
      <v-row class="justify-content-start">
        <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
          <v-icon dark>
            chevron_left
          </v-icon>
        </v-btn>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="8" lg="8" xl="8" class="mt-5">
          <p>Seleccion empresa:</p>
        </v-col>
        <v-col cols="12" sm="4" md="4" lg="4" xl="4" class="d-flex justify-content-center">
          <v-switch v-model="switchDrop"></v-switch>
        </v-col>
      </v-row>
      <v-row class="ml-1 mr-3">
        <v-overflow-btn class="my-2" v-model="empresa" :items="descripcionEmp" label="Elija una opcion"
          :disabled="!switchDrop" dense></v-overflow-btn>
      </v-row>
      <v-row class="mt-12" justify="center">
        <div>
          <p>Elija la categoría de búsqueda:</p>
          <div class="d-flex justify-content-center">
            <v-radio-group v-model="radioGroup">
              <v-radio v-for="(item, index) in listaRadio" @click="onChange(index)" :key="index"
                :label="`${ item.title }`" :value="`${ item.title }`"></v-radio>
            </v-radio-group>
          </div>
        </div>
      </v-row>
      <v-row>
        <v-text-field class="ml-6" v-model="input" :label="inputLabel" :rules="rules" hide-details="auto">
        </v-text-field>
      </v-row>
      <v-row class="mt-8" justify="center">
        <v-btn elevation="2" color="primary" :disabled="!validarBusqueda" @click="buscarInput">Buscar</v-btn>
      </v-row>
      <br><br>
    </v-col>

    <v-col cols="0" sm="0" md="1" lg="1" xl="1" align="center" :hidden="mostrarPorTam">
      <v-divider vertical color="primary"></v-divider>
    </v-col>

    <v-col cols="12" sm="12" md="9" lg="9" xl="9">
      <v-row class="d-flex align-start justify-content-center mt-6">
        <h2 class="title text-center mb-6 primary--text">Resultado de busqueda:</h2>
      </v-row>
      <v-row class="d-flex align-start justify-content-center">
        <div v-if="cargando">
          <v-dialog v-model="dialog" hide-overlay persistent width="300">
            <v-card color="primary" dark class="pt-2">
              <v-card-text class="subtitle-2">
                Cargando ...
                <v-progress-linear indeterminate color="white" class="my-2"></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>
        </div>

        <div v-else>
          <div v-show="resultadoBusqueda.length <= 0">
            <h2 class="subtitle-1 text-center mb-6 grey--text"">No hay resultados para mostrar</h2>
          </div>
          <div v-show=" resultadoBusqueda.length> 0">
              <v-data-table :headers="headers" :items="resultadoBusqueda" class="elevation-1" :items-per-page="10"
                :footer-props="{'items-per-page-text':'deudores por página'}">
                <template v-slot:item.nroDeudor="{ item }">
                  <router-link :to="`/CrmMenu/${item.nroDeudor}/CrmGestion`">{{item.nroDeudor}}</router-link>
                </template>
              </v-data-table>
          </div>
        </div>
      </v-row>
    </v-col>
  </v-row>
</section>