<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :headers="headers" :search="search" :items="tiposCorreo" sort-by="id_tipo_correo"
        class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Tipos Correo</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field class="mx-4" v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
              hide-details>
            </v-text-field>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
                <v-form v-model="valid" ref="form" lazy-validation>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                          <v-text-field :rules="formTitle.toLowerCase() === 'agregar tipos correo' ? reglasID : [] "
                            :disabled="formTitle.toLowerCase() === 'agregar tipos correo' ? false : true"
                            v-model="editedItem.id_tipo_correo" label="Id tipo correo"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="8" lg="8" xl="8">
                          <v-select :rules="reglasEmpresa" v-model="editedItem.id_empresa" label="Empresa"
                            :items="empresas" item-text="descripcion" item-value="idEmp">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                          <v-text-field v-model="editedItem.descripcion" label="descripcion" :rules="reglaDescripcion">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux1" label="Aux1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux2" label="Aux2">
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary--text" @click="close">
                      Cancelar
                    </v-btn>
                    <v-btn :disabled="!valid" color="primary" text--white @click="save">
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <div>
            <v-icon small class="mr-2" color="warning" @click="editItem(item)">
              mdi-pencil
            </v-icon>
          </div>
        </template>
      </v-data-table>
      <v-snackbar class="mb-8" v-model="snackbarOn" :color="colorSnackbar">
        {{ opExitosa ? 'Operación realizada con éxito' : 'Se produjo un error' }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="cerrarSnackbar">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-col>
  </v-row>
</v-container>