<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="12" xs="12" sm="12" md="1" lg="1" xl="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
    <v-col cols="12" xs="12" sm="12" md="11" lg="11" xl="11">
      <div class="h2 primary--text">Pagos con Tarjeta de crédito</div>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :loading="loading" :headers="cabeceras" :items="agendas" class="elevation-1" :items-per-page="10"
        :footer-props="{'items-per-page-text':'Agendas por página'}">
        <template v-slot:item.id_deudor="{ item }">
          <a class="h6" :href="`/CrmMenu/${item.id_deudor}/CrmGestion`" target="_blank">{{
            item.id_deudor
            }}</a>
        </template>
        <template v-slot:item.estado="{ item }">
          <div v-if="item.estado=='PENDIENTE'">
            <span class="error--text"><strong>PENDIENTE</strong></span>
          </div>
          <div v-if="item.estado=='EN CURSO'">
            <span class="warning--text"><strong>EN CURSO</strong></span>
          </div>
        </template>
        <template v-slot:item.acciones="{ item }">
          <div>
            <v-icon class="mr-2" color="success" @click="modificarAgenda(item)">
              mdi-pencil-circle
            </v-icon>
            <v-icon class="mr-2" color="error" @click="eliminarAgenda(item)">
              mdi-close-circle
            </v-icon>
          </div>
        </template>
        <template v-slot:no-data>
          <h6> No hay agendados para pagos con tarjeta de crédito </h6>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-icon class="mr-2" color="primary" @click="get()">
      mdi-reload
    </v-icon>
    Próxima actualización en {{countDown}} segundos
  </v-row>

  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>

</v-container>