<section class="mt-16">
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-dialog v-model="dialogMail" persistent max-width="1000px">
            <template v-slot:activator="{ on, attrs }">
              <v-hover v-slot="{ hover }">
                <v-card @click="abrirDialog()" :elevation="hover ? 16 : 1"
                  :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
                  color="primary">
                  <v-card-title class="d-flex justify-content-center">
                    <v-col cols="12">
                      <v-icon large color="white">
                        email
                      </v-icon>
                    </v-col>
                    Envío de Correo Electrónico
                  </v-card-title>
                </v-card>
              </v-hover>
            </template>
            <EnvioMail @click="cerrarDialogMail($event)"></EnvioMail>
          </v-dialog>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="imprimirReporte()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    picture_as_pdf
                  </v-icon>
                </v-col>
                Reporte en PDF
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="cargaPagos()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    payments
                  </v-icon>
                </v-col>
                Carga de pagos
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="cargaConvenio()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    gavel
                  </v-icon>
                </v-col>
                Carga de convenio
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="abrirDialogAnularConvenio()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    clear_all
                  </v-icon>
                </v-col>
                Anulación de convenio
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col v-if="this.usuario.rol >= 3" cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="abrirDialogAnularPago()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    delete_sweep
                  </v-icon>
                </v-col>
                Anulación de pagos
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="abrirDialogCuponPago()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    receipt
                  </v-icon>
                </v-col>
                Cupón de pago
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="abrirAgendaPagoTC()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    calendar_today
                  </v-icon>
                </v-col>
                Agendar pago con TC
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
      <v-col v-if="this.deudor.id_empresa == 17" cols="12" sm="12" md="3" lg="3" class="mb-2">
        <v-row justify="center">
          <v-hover v-slot="{ hover }">
            <v-card @click="abrirGestionToyota()" :elevation="hover ? 16 : 1"
              :class="{ 'on-hover': hover, 'change-pointer': hover }" class="mx-auto white--text" width="300"
              color="primary">
              <v-card-title class="d-flex justify-content-center">
                <v-col cols="12">
                  <v-icon large color="white">
                    headset
                  </v-icon>
                </v-col>
                Gestión Toyota
              </v-card-title>
            </v-card>
          </v-hover>
        </v-row>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogPagos" max-width="500">
      <v-card>
        <v-toolbar color="primary" dark>Elija el tipo de carga de pago</v-toolbar>
        <v-card-actions>
          <v-container>
            <v-btn color="primary" @click="dialogPagos = false">Emisión de recibo de pago</v-btn>
            <v-btn class="mt-5" color="primary" @click="abrirDialogPagosDeudor()">Pagos informados por deudor / Promesa
              de pago</v-btn>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogPagosDeudor" max-width="1200">
      <PagosDeudor @click="cerrarDialogPagosDeudor($event)"></PagosDeudor>
    </v-dialog>

    <v-dialog persistent v-model="dialogFacturasConvenio" max-width="1200">
      <v-card>
        <v-toolbar color="primary" dark>Seleccione las facturas que incluirá el convenio</v-toolbar>
        <v-card-text>
          <v-container>
            <v-data-table v-model="facturasSeleccionadas" :headers="cabeceras" :items="facturasParaConvenios"
              :single-select="seleccionSimple" item-key="id_factura" show-select class="elevation-1">
              <template v-slot:no-data>
                <h6> No se encontraron facturas disponibles para realizar convenio </h6>
              </template>
            </v-data-table>
            <v-row class="mt-3 d-flex justify-content-center" v-if="this.direcciones.length==0">
              <v-alert type="error" dense outlined>
                Cuenta sin direccion, no se puede generar convenio.
              </v-alert>
            </v-row>
            <v-row class="mt-3 d-flex justify-content-center" v-if="estaCancelada">
              <v-alert type="error" dense outlined>
                Cuenta cancelada, no se puede generar convenio.
              </v-alert>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <v-btn textcolor="primary" class="primary--text" @click="cerrarDialogFacturasConvenio()">Cancelar</v-btn>
            <v-btn class="m-3" color="primary" @click="abrirDialogCargaConvenio()"
              :disabled="habilitarContinuarConvenios">Continuar</v-btn>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- -------------------------------------------- -->
    <!-- -------------------------------------------- -->
    <!-- ----------- DIALOG CUPON DE PAGO -------------->
    <!-- -------------------------------------------- -->
    <!-- -------------------------------------------- -->

    <v-dialog persistent v-model="dialogCuponPago" max-width="1200">
      <v-card>
        <v-toolbar color="primary" dark>Cupones de Pago</v-toolbar>
        <v-card-text>
          <v-container>
            <v-data-table v-model="cuponesSeleccionados" :headers="cabecerasCupones" :items="cuponesImprimir"
              class="elevation-1">
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Cupones para imprimir</v-toolbar-title>
                </v-toolbar>
              </template>
              <template v-slot:item.acciones="{ item }">
                <v-btn color="primary" dark @click="abrirDialogVistaCupon(item)">
                  <v-icon>preview</v-icon>
                </v-btn>
              </template>
              <template v-slot:no-data>
                <h6> No se encontraron cupones disponibles para imprimir </h6>
              </template>
            </v-data-table>
            <v-data-table v-model="cuponesSeleccionados" :headers="cabecerasCuponesWeb" :items="cuponesWeb"
              class="elevation-1 mt-6">
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>Cupones Web</v-toolbar-title>
                </v-toolbar>
              </template>
              <template v-slot:item.accion="{ item }">
                <v-btn :disabled="habilitarBotonCuponWeb(item)" class="m-3" color="primary"
                  @click="abrirCuponWeb(item)">Cupón Web</v-btn>
              </template>
              <template v-slot:no-data>
                <h6> No se encontraron cupones web disponibles </h6>
              </template>
            </v-data-table>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <v-btn textcolor="primary" class="primary--text" @click="cerrarDialogCuponPago()">Cancelar</v-btn>
            <v-btn class="m-3" color="primary" @click="abrirDialogVistaCupon()" :disabled="habilitarVistaCupon">
              Continuar</v-btn>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- -------------------------------------------- -->
    <!-- -------------------------------------------- -->
    <!-- DIALOG AGENDA DE PAGO CON TARJETA DE CREDITO -->
    <!-- -------------------------------------------- -->
    <!-- -------------------------------------------- -->

    <v-dialog persistent v-model="dialogAgendaPagoTC" max-width="600">
      <v-card>
        <v-toolbar color="primary" dark>Agendar pago con Tarjeta de crédito</v-toolbar>
        <v-card-text>
          <v-container>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-row class="justify-center">
                <v-col cols="12" xs="12" sm="12" md="9" lg="9" xls="9">
                  <v-select :rules="reglasAgenda" v-model="agendaPago.telefono" :items="telefonos" item-text="telefono"
                    label="Teléfono"></v-select>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="4" lg="4" xls="4">
                  <v-menu v-model="dataPickerFecha" :close-on-content-click="false" :nudge-right="40"
                    transition="fab-transition" offset-y min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field :rules="reglasAgenda" v-model="agendaPago.fecha" label="Fecha"
                        prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="agendaPago.fecha" @input="dataPickerFecha = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="4" lg="4" xls="4">
                  <v-menu v-model="dataPickerHora" :close-on-content-click="false" :nudge-right="40"
                    transition="fab-transition" offset-y min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field :rules="reglasAgenda" v-model="agendaPago.hora" label="Hora"
                        prepend-icon="mdi-clock" readonly v-bind="attrs" v-on="on"></v-text-field>
                    </template>
                    <v-time-picker v-model="agendaPago.hora" class="mt-4" format="24hr"
                      @click:minute="dataPickerHora = false">
                    </v-time-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <v-btn textcolor="primary" class="primary--text" @click="cerrarDialogPagoTC()">Cancelar</v-btn>
            <v-btn class="m-3" color="primary" @click="agendarPagoConTC()" :disabled="!valid">
              Continuar</v-btn>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog persistent v-model="dialogCargaConvenio" max-width="1200" max-heigth="1000">
      <CargaConvenios v-if="dialogCargaConvenio" @click="cerrarDialogCargaConvenio($event)"
        :facturas="facturasSeleccionadas" :key="componentKey"></CargaConvenios>
    </v-dialog>

    <v-dialog persistent v-model="dialogAnulaConvenio" max-width="1200">
      <AnulaConvenio @click="cerrarDialogAnulaConvenio($event)"></AnulaConvenio>
    </v-dialog>

    <v-dialog persistent v-model="dialogAnulaPago" max-width="1200">
      <AnulaPago @click="cerrarDialogAnulaPago($event)"></AnulaPago>
    </v-dialog>

    <v-dialog persistent v-model="dialogVistaCupon" max-width="1200">
      <CuponPago :key="componentKey" :cupon="cuponParaImprimir" @click="cerrarDialogVistaCupon($event)"></CuponPago>
    </v-dialog>

    <!-- -------------------------------------------- -->
    <!-- -------------------------------------------- -->
    <!-- --------- DIALOG GESTION TOYOTA ------------ -->
    <!-- -------------------------------------------- -->
    <!-- -------------------------------------------- -->

    <v-dialog persistent v-model="dialogGestionToyota" max-width="900">
      <v-card>
        <v-toolbar color="primary" dark>Agendar pago con Tarjeta de crédito</v-toolbar>
        <v-card-text>
          <v-container>
            <v-form v-model="valid" ref="formToy" lazy-validation>
              <v-row class="justify-center">
                <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                  <v-text-field class="text-field" label="Id Deudor" readonly :value="deudor.id_deudor || ' '">
                  </v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="8" lg="8" xl="8">
                  <v-text-field class="text-field" label="Nombre y apellido / Razón Social" readonly
                    :value="deudor.nombre_apellido || ' '">
                  </v-text-field>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="6" lg="6" xls="6">
                  <v-select :rules="reglasGestionToyota" v-model="gestionToyota.id_origen" :items="codigosOrigenLocal"
                    item-text="descripcion" item-value="id_situacion" label="Id Origen"></v-select>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="6" lg="6" xls="6">
                  <v-select :rules="reglasGestionToyota" v-model="gestionToyota.id_respuesta"
                    :items="codigosRespuestaLocal" item-text="descripcion" item-value="id_gestion" label="Id Respuesta">
                  </v-select>
                </v-col>
                <v-container v-if="gestionToyota.id_respuesta == 651 || gestionToyota.id_respuesta == 654">
                  <v-row>
                    <v-col cols="12" xs="12" sm="12" md="3" lg="3" xls="3">
                      <v-menu v-model="dataPickerFecha" :close-on-content-click="false" :nudge-right="40"
                        transition="fab-transition" offset-y min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field :rules="reglasGestionToyota" v-model="gestionToyota.fecha_pago"
                            label="Fecha Pago" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on">
                          </v-text-field>
                        </template>
                        <v-date-picker v-model="gestionToyota.fecha_pago" @input="dataPickerFecha = false">
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="12" xs="12" sm="12" md="3" lg="3" xls="3">
                      <v-select :rules="reglasGestionToyota" item-value="id_banco" v-model="gestionToyota.id_entidad"
                        :items="entidadesRecaudadoras" item-text="descripcion" label="Id Entidad"></v-select>
                    </v-col>
                    <v-col cols="12" xs="12" sm="12" md="3" lg="3" xls="3">
                      <v-select :rules="reglasGestionToyota" item-value="id_tipo_pago"
                        v-model="gestionToyota.id_tipo_pago" readonly :items="tiposPago" item-text="descripcion"
                        label="Id Tipo pago"></v-select>
                    </v-col>
                    <v-col cols="12" xs="12" sm="12" md="3" lg="3" xls="3">
                      <v-text-field :rules="reglasGestionToyota" v-model="gestionToyota.importe_pago"
                        label="Importe Pago"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <v-col cols="12" xs="12" sm="12" md="6" lg="6" xls="6">
                  <v-select :rules="reglasGestionToyota" :items="codigosSituacionLocal" item-text="descripcion"
                    item-value="id_situacion" label="Código de Situación" v-model="codigoSituacion">
                  </v-select>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="6" lg="6" xls="6">
                  <v-select :rules="reglasGestionToyota" :items="codigosGestionLocal" item-text="descripcion"
                    item-value="id_gestion" label="Código de Gestión" v-model="codigoGestion">
                  </v-select>
                </v-col>
                <v-col cols="12" sm="12" md="12" lg="12">
                  <v-textarea :rules="reglasGestionToyota" outlined label="Comentario"
                    v-model="gestionToyota.comentario">
                  </v-textarea>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <v-btn textcolor="primary" class="primary--text" @click="cerrarGestionToyota()">Cancelar</v-btn>
            <v-btn :loading="btnLoading" class="m-3" color="primary" @click="cargarGestionToyota()" :disabled="!valid">
              Enviar</v-btn>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>

  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>
</section>