<section class="mt-3 d-flex justify-content-center">
  <v-container>
    <v-row class="mt-8 d-flex justify-content-center">
      <v-card width="100%">
        <v-toolbar class="d-flex justify-content-center h3" color="primary" dark>{{politica.descripcion}}</v-toolbar>
        <v-card-text>
          <div v-html="politica.txt_speech">        
          </div>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</section>