<div>
  <v-app-bar class="primary" dark>
    <router-link to="/PantallaPrincipal">
      <v-toolbar-title class="white--text">
        <v-row class="d-flex justify-content-start">
          <v-col cols="6" sm="6" md="6">
            <img src="../../assets/logo.png" alt="" width="60%">
          </v-col>
        </v-row>
      </v-toolbar-title>
    </router-link>
    <v-spacer></v-spacer>

    <v-row justify="end mr-3">
      <v-menu bottom min-width="200px" rounded offset-y>
        <template v-slot:activator="{ on }">
          <v-hover>
            <template v-slot:default="{ hover }">
              <v-btn :class="hover ? color1: color2" icon medium v-on="on" :elevation="hover ? 24 : 6">
                <v-avatar color="white" size="42">
                  <span class="primary--text text-h6">{{iniciales}}</span>
                </v-avatar>
              </v-btn>
            </template>
          </v-hover>
        </template>
        <v-card>
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-center">
              <v-avatar color="white--text primary" size="48">
                <span class="white--text text-h5">{{iniciales}}</span>
              </v-avatar>
              <div class="body-2 mt-1"><strong>{{ usuario.nombre }}</strong></div>
              <p class="text-caption mt-1">
                {{ usuario.correo }}
              </p>
              <v-divider class="my-3"></v-divider>
              <v-container>
                <v-row class="d-flex justify-content-center">
                  <v-col cols="12">
                    <div class="body-2 mt-1"><strong>TEMA</strong></div>
                  </v-col>
                </v-row>
                <v-row class="d-flex justify-content-center">
                  <v-col cols="8">
                    <v-switch prepend-icon="mdi-weather-sunny" append-icon="mdi-weather-night" inset v-model="switchTheme"
                    @click="cambiarModoOscuro()"></v-switch>
                  </v-col>
                </v-row>
              </v-container>
              <v-divider class="my-3"></v-divider>
              <router-link tag="p" to="/miPerfil">
                <v-btn depressed rounded text>
                  Mi Perfil
                </v-btn>
              </router-link>
              <v-divider class="my-3"></v-divider>
              <v-btn depressed rounded text @click="salir()">
                Cerrar Sesión
              </v-btn>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>
    </v-row>
  </v-app-bar>
</div>