<v-container>
  <v-row class="justify-start mt-3">
    <v-col cols="1">
      <v-btn class="mx-2" fab dark small color="primary" @click="$router.go(-1)">
        <v-icon dark>
          chevron_left
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
  <v-row class="justify-center mt-4">
    <v-col cols="12">
      <v-data-table :headers="headers" :search="search" :items="politicasOk" sort-by="id_politica"
        :footer-props="{'items-per-page-text':'grupos por página'}" class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Políticas</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field class="mx-4" v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
              hide-details>
            </v-text-field>
            <v-dialog v-model="dialog" max-width="80%">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
                  <v-icon dark>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
                <v-form v-model="valid" ref="form" lazy-validation>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="2" lg="2" xl="2">
                          <v-text-field :rules="formTitle.toLowerCase() === 'agregar política' ? reglasID : [] "
                            :disabled="formTitle.toLowerCase() === 'agregar política' ? false : true"
                            v-model="editedItem.id_politica" label="Id Politica"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="5" lg="5" xl="5">
                          <v-select :rules="reglasEmpresa" v-model="editedItem.id_empresa" label="Empresa"
                            :items="empresas" item-text="descripcion" item-value="idEmp">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="5" lg="5" xl="5">
                          <v-text-field v-model="editedItem.descripcion" label="Descripción" :rules="reglasDescripcion">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field type="email" v-model="editedItem.correo" label="Correo">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field type="password" v-model="editedItem.password" label="Password"
                            autocomplete="off" @click:append="show1 = !show1"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'">
                          </v-text-field>
                        </v-col>



                        <v-col cols="12" sm="12" md="12" lg="12" xl="12">                          
                          <v-row class="d-flex justify-content-left mt-8">
                            <v-card outlined width="100%">
                              <v-card-title class="d-flex justify-content-center">Politicas</v-card-title>
                              <v-tabs vertical>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-headset
                                  </v-icon>
                                  Atención Al Cliente
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-account
                                  </v-icon>
                                  Datos AMSA
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-calendar
                                  </v-icon>
                                  Fechas Importantes
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-human-greeting
                                  </v-icon>
                                  Objetivos/Métricas
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-note-text
                                  </v-icon>
                                  Políticas de gestión
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-credit-card
                                  </v-icon>
                                  Medios de Pago
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-newspaper
                                  </v-icon>
                                  Novedades
                                </v-tab>
                                <v-tab class="d-flex justify-content-start">
                                  <v-icon left>
                                    mdi-close-circle
                                  </v-icon>
                                  Errores Críticos
                                </v-tab>


                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica1"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica2"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica3"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica4"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica5"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica6"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica7"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                                <v-tab-item>
                                  <v-card flat>
                                    <v-card-text>
                                      <vue-editor v-model="editedItem.txt_politica8"></vue-editor>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                              </v-tabs>
                            </v-card>
                          </v-row>
                        </v-col>

                        <v-col cols="12" sm="12" md="12" lg="12" xl="12">                          
                          <v-row class="d-flex justify-content-left mt-8">
                            <v-card outlined width="100%">
                              <v-card-title class="d-flex justify-content-center">Speech</v-card-title>
                              <v-card-text>
                                <vue-editor v-model="editedItem.txt_speech"></vue-editor>
                              </v-card-text>
                            </v-card>
                          </v-row>
                        </v-col>


                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux1" label="Aux 1">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux2" label="Aux 2">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux3" label="Aux 3">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux4" label="Aux 4">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model="editedItem.aux5" label="Aux 5">
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-form>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="primary--text" @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn :disabled="!valid" color="primary" text--white @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <div>
            <v-icon small class="mr-2" color="warning" @click="editItem(item)">
              mdi-pencil
            </v-icon>
          </div>
        </template>
      </v-data-table>
      <v-snackbar class="mb-8" v-model="snackbarOn" :color="colorSnackbar">
        {{ opExitosa ? 'Operación realizada con éxito' : 'Se produjo un error' }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="cerrarSnackbar">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-col>
  </v-row>
</v-container>