<div>
  <v-card>
    <v-toolbar color="primary" dark>Cupón de Pago</v-toolbar>
    <v-card-text>
      <v-container id="cuponPrint" class="mt-3">
        <v-row class="d-flex justify-content-center">
          <v-col cols="6" class="d-flex text-align-center">
            <img :src="imgLogo" alt="pepe" width="60%">
          </v-col>
          <v-col cols="6" class="text-align-center">
            <img :src="logoMaya" alt="" width="95%">
          </v-col>
        </v-row>
        <v-divider class="mt-3"></v-divider>
        <v-row class="mt-3 d-flex justify-content-center">
          <v-col cols="12">
            <p><strong>Nombre: </strong>{{deudor.nombre_apellido}}</p>
            <p><strong>Nro. Cliente: </strong>{{deudor.nro_cliente1}}</p>
            <p><strong>Nro. Dni: </strong>{{deudor.nro_doc}}</p>
            <p><strong>Nro. Convenio: </strong>{{cupon.nro_convenio}}</p>
            <p><strong>Importe Cupón: </strong>$ {{cupon.saldo}}</p>
          </v-col>
        </v-row>
        <v-divider class="mt-3"></v-divider>
        <v-row class="mt-3 d-flex justify-content-center">
          <VueBarcode :value="cupon.codigo_barras"></VueBarcode>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions class="d-flex justify-content-center">
      <v-btn textcolor="primary" class="primary--text mb-4" @click="cerrarDialog(0)">
        Cancelar
      </v-btn>
      <v-btn color="primary" @click="descargar()" class="mb-4">
        <v-icon class="mr-1" color="white">
          file_download
        </v-icon>
        Descargar
      </v-btn>
      <v-btn color="primary" @click="dialogDestinatario = true" class="mb-4">
        <v-icon class="mr-1" color="white">
          email
        </v-icon>
        Enviar Por Mail
      </v-btn>
    </v-card-actions>
  </v-card>

  <v-dialog v-model="dialogDestinatario" max-width="500">
    <v-card>
      <v-toolbar color="primary" dark>Elija el destinatario</v-toolbar>
      <v-card-text>
        <v-container>
          <v-select v-model="destinatario" :items="correos" item-text="correo" label="Para*"></v-select>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-container>
          <v-btn class="mr-3" color="primary" @click="cerrarDialogDestinatario()">Cancelar</v-btn>
          <v-btn :loading="btnLoading" color="primary" @click="enviarPorMail()" :disabled="habilitaEnviar">
            <v-icon class="mr-1" color="white">
              email
            </v-icon>
            Enviar
          </v-btn>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>