<section class="mt-3">
  <v-container>
    <v-row class="d-flex justify-content-left mt-8">
      <v-card width="100%">
        <v-toolbar class="d-flex justify-content-center h3" color="primary" dark>{{politica.descripcion}}</v-toolbar>
        <v-tabs vertical class="mt-5">
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-headset
            </v-icon>
            Atención Al Cliente
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-account
            </v-icon>
            Datos AMSA
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-calendar
            </v-icon>
            Fechas Importantes
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-human-greeting
            </v-icon>
            Objetivos/Métricas
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-note-text
            </v-icon>
            Políticas de gestión
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-credit-card
            </v-icon>
            Medios de Pago
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-newspaper
            </v-icon>
            Novedades
          </v-tab>
          <v-tab class="d-flex justify-content-start">
            <v-icon left>
              mdi-close-circle
            </v-icon>
            Errores Críticos
          </v-tab>


          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica1" v-html="politica.txt_politica1"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica2" v-html="politica.txt_politica2"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica3" v-html="politica.txt_politica3"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica4" v-html="politica.txt_politica4"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica5" v-html="politica.txt_politica5"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica6" v-html="politica.txt_politica6"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica7" v-html="politica.txt_politica7"></div>
                <div v-else>SIN DATOS</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <div v-if="politica.txt_politica8" v-html="politica.txt_politica8"></div>
                <div v-else>VACIO</div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-row>
  </v-container>
</section>