
<v-footer absolute app class="primary" padless>
  <v-card-text class="text-center white--text" >
      &copy;{{ new Date().getFullYear() }} — <strong class="title">MLCD - Soft</strong>
  </v-card-text>
</v-footer>
