<div>
  <v-card>
    <v-toolbar color="primary" dark>Anulación de Pago</v-toolbar>
    <v-card-text>
      <v-container class="mt-3">
        <v-data-table :header-props="headerProps" :headers="cabeceras" :items="pagosActivos" class="elevation-1"
          :items-per-page="10" :footer-props="{'items-per-page-text':'pagos por página'}">
          <template v-slot:item.detalle="{ item }">
            <v-btn x-small color="error" dark @click="dialogAnularPago(item)" :disabled="habilitaAnulaPago(item)">
              <v-icon small>clear</v-icon>
            </v-btn>
          </template>
          <template v-slot:no-data>
            <h6> No se encontraron pagos registradas para el deudor {{deudor.id_deudor}} </h6>
          </template>
        </v-data-table>
      </v-container>
    </v-card-text>
    <v-card-actions class="d-flex justify-content-center">
      <v-btn textcolor="primary" class="primary--text mb-4" @click="cerrarDialog(0)">
        Cancelar
      </v-btn>
    </v-card-actions>
  </v-card>

  <v-dialog persistent v-model="dialogAnular" max-width="500px">
    <v-card>
      <v-toolbar color="primary" dark>
        <v-icon large color="white">warning</v-icon><strong class="ml-5 title">Importante</strong></v-toolbar>
      <h6 class="mt-5">¿Seguro que desea eliminar el pago id {{pagoParaAnular.id_pago}} comprobante {{pagoParaAnular.nro_comprobante}} por ${{pagoParaAnular.importe_total}}?</h6>
      </v-card-title>
      <v-card-actions class="mt-5">
        <v-spacer></v-spacer>
        <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialgoAnularPago()">Cancelar</v-btn>
        <v-btn :loading="btnLoading" color="primary" @click="anularPago()">Anular</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>

</div>