<div> 
  <router-link tag="p" :to="getRuta()"> 
  <v-hover v-slot="{ hover }">
      <v-card :elevation="hover ? 16 : 1" 
              :class="{ 'on-hover': hover, 'change-pointer': hover }" 
              class="mx-auto" 
              max-width="300">
        <div class="py-4 primary">      
          <v-img :src="producto.imagen"
                  aspect-ratio="2"
                  contain />
        </div>  
        <v-card-title>{{ producto.nombreGrupo }}</v-card-title>
        <v-card-subtitle class="text-left">{{ producto.descripcion }}</v-card-subtitle>
      </v-card>
  </v-hover>
  </router-link>
</div>