<template>
    <v-dialog
      v-model="$store.state.operaciones.loaderStatus"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
        class="pt-2"
      >
        <v-card-text class="subtitle-2" >
          Cargando ...
          <v-progress-linear
            indeterminate
            color="white"
            class="my-2"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
</template>

<script>

export default {

    name: 'loaderPPal',

}
</script>