
.backgroundImage {
  background-image: url('../../assets//foto_principal.jpg');
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background:white;
  margin-top: 0;
  padding: 0;
}

h2 {
  color: white;
  font-weight: normal;
  font-size: 10px;
}

h5 {
  color: #48a4ac;
  font-weight: normal;
  font-size: 10px;
}

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
  border-color: black;
}

.card-color{
  background-color: rgba(255, 255, 255, 0.7) !important;
}

