<div class="backgroundImage d-flex justify-content-center align-content-space-around" style="height: 100%;">
  <v-container >    
    <v-row>
      <v-card class="card-color mx-auto mt-16">
        <v-card-text>
          <img src="../../assets/logo.png" width="35%" alt="">
          <h5 class="title">CRM de Gestión de Cobranzas</h5>
        </v-card-text>
        <v-card-actions class="justify-center">
          <div class="text-xs-center"></div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field light v-model="usuario.correo" :rules="correoRules" prepend-icon="email" label="Correo" required>
            </v-text-field>
            <v-text-field light v-model="usuario.password" type="password" :rules="contrasenaRules" prepend-icon="lock"
              label="Contraseña" required @keyup.enter="validate"></v-text-field>
            <br />
            <v-btn textcolor="primary" color="white" class="mr-4 primary--text mb-3" @click="borrar">
              Registrarse
            </v-btn>
            <v-btn light :loading="btnLoading" :disabled="!valid" color="primary" class="mr-4 mb-3" @click="validate">
              Ingresar
            </v-btn>
            <v-snackbar v-model="errorLogin" color="red">
              {{ text }}
              <template v-slot:action="{ attrs }">
                <v-btn color="white" text v-bind="attrs" @click="errorLogin = false">
                  Cerrar
                </v-btn>
              </template>
            </v-snackbar>
          </v-form>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</div>