<section class="mt-16 d-flex justify-content-center">
  <v-data-table :headers="cabeceras" :items="deudores" class="elevation-1" :items-per-page="10"
    :footer-props="{'items-per-page-text':'deudores por página'}">
    <template v-slot:item.id_deudor="{ item }">
      <a class="font-weight-bold" :href="`/CrmMenu/${item.id_deudor}/CrmGestion`" target="_blank">{{
        item.id_deudor
        }}</a>
    </template>
    <template v-slot:item.id_empresa="{ item }">
      {{ mostrarDescripcionEmpresa(item.id_empresa) }}
    </template>
    <template v-slot:item.deuda_historica="{ item }">
      $ {{ item.deuda_historica }}
    </template>
    <template v-slot:item.nro_cliente1="{ item }">
      {{ mostrarNroCliente(item.nro_cliente1) }}
    </template>
    <template v-slot:item.nro_cliente2="{ item }">
      {{ mostrarNroCliente(item.nro_cliente2) }}
    </template>
    <template v-slot:item.nro_cliente3="{ item }">
      {{ mostrarNroCliente(item.nro_cliente3) }}
    </template>
  </v-data-table>
</section>
