<template >
  <v-app :style="{ background: $vuetify.theme.themes[theme].background }">
    <v-main>
      <Navbar v-if="$route.path != '/Login'" />
      <router-view></router-view>
    </v-main>
    <Footer v-if="$route.path != '/Login'" />
  </v-app>
</template>

<script>
import { mapActions } from "vuex";
import Navbar from "./components/Navbar/index";
import Footer from "./components/Footer/index";

export default {
  name: "App",

  components: {
    Navbar,
    Footer,
  },

  created() {
    this.autoLogin();
  },

  mounted() {
    this.setTema();
  },

  computed: {
    theme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    },
  },

  methods: {
    ...mapActions("auth", ["autoLogin", "setearTema"]),

    setTema() {
      let modo = localStorage.getItem("modo");
      if (modo == "oscuro") {
        this.$vuetify.theme.dark = true;
        this.setearTema(true);
      } else {
        this.$vuetify.theme.dark = false;
        this.setearTema(false);
      }
    },
  },

  data: () => ({
    //
  }),
};
</script>
