<div>
  <v-data-table :headers="cabecera" :items="direcciones" class="elevation-1 " :items-per-page="itemsPorPagina"
    :footer-props="{'items-per-page-text':'Direcciones por página'}">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Direcciones</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog persistent v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mx-2" fab dark small color="primary" v-bind="attrs" v-on="on">
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-toolbar color="primary" dark>{{ formTitle }}</v-toolbar>
            <v-card-text>
              <v-form v-model="formValid" ref="form" lazy-validation>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="8" lg="8">
                      <v-text-field v-model="modeloEditar.calle" label="Calle*" :rules="reglas">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field v-model="modeloEditar.numero" label="Numero" :rules="reglasNumero">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="3" lg="3">
                      <v-text-field v-model="modeloEditar.piso" label="Piso">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="3" lg="3">
                      <v-text-field v-model="modeloEditar.departamento" label="Dpto">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="3" lg="3">
                      <v-text-field v-model="modeloEditar.entrada" label="Entrada">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="3" lg="3">
                      <v-text-field v-model="modeloEditar.escalera" label="Escalera">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="3" lg="3">
                      <v-text-field v-model="modeloEditar.cod_postal" label="CP*" :rules="reglasCodPos">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="5" lg="5">
                      <v-text-field v-model="modeloEditar.localidad" label="Localidad*" :rules="reglas">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="4" lg="4">
                      <v-text-field v-model="modeloEditar.provincia" label="Provincia*" :rules="reglas">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="6" lg="6">
                      <v-select :rules="reglas" :items="tiposDireccion" label="Tipo Direccion*" outlined
                        item-text="descripcion" item-value="id_tipo_direccion" v-model="modeloEditar.id_tipo_direccion">
                      </v-select>
                    </v-col>
                    <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="d-flex justify-content-center">
                      <v-switch inset label="Direccion Efectiva" v-model="switchDrop"></v-switch>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogGuardar()">
                Cancelar
              </v-btn>
              <v-btn :loading="btnLoading" :disabled="!validarAgregar" color="primary" @click="guardar()">
                Confirmar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog persistent v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title></v-card-title>
            <h6>¿Seguro que desea eliminar la dirección {{DireccionEliminado.calle}} {{DireccionEliminado.numero}}?</h6>
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn textcolor="primary" class="mr-4 primary--text" @click="cerrarDialogEliminar()">Cancelar</v-btn>
              <v-btn :loading="btnLoading" color="primary" @click="eliminarDireccion()">Eliminar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)" color="warning">
        mdi-pencil
      </v-icon>
      <v-icon small @click="dialogEliminar(item)" color="error">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:item.efectivo="{ item }">
      <div v-if="item.efectivo==1">
        <v-icon color="success">
          mdi-check
        </v-icon>
      </div>
    </template>
    <template v-slot:item.id_tipo_direccion="{ item }">
      {{mostrarDescripcionTipoDireccion(item.id_tipo_direccion).descripcion}}
    </template>
    <template v-slot:item.escalera="{ item }">
      {{mostrarNombre(item.escalera)}}
    </template>
    <template v-slot:item.entrada="{ item }">
      {{mostrarNombre(item.entrada)}}
    </template>
    <template v-slot:item.departamento="{ item }">
      {{mostrarNombre(item.departamento)}}
    </template>
    <template v-slot:item.piso="{ item }">
      {{mostrarNombre(item.piso)}}
    </template>
    <template v-slot:item.numero="{ item }">
      {{mostrarNombre(item.numero)}}
    </template>
    <template v-slot:no-data>
      <h6>No hay datos</h6>
    </template>
  </v-data-table>

  <v-snackbar v-model="muestraMensaje" :color="colorMensaje">
    {{ mensaje }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="muestraMensaje = false">
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>

</div>